<template>
    <div>
        <div><q-card class=" tw-w-full tw-bg-blue-600 tw-text-white tw-font-medium">
            <q-card-section>JOB DETAILS</q-card-section>
            
            </q-card></div>
            <div>
            <q-card class=" tw-mt-3 tw-bg-blue-800 xs:tw-h-24 md:tw-h-20 tw-text-white tw-mb-3">
                <q-card-section>
                    <div class=" tw-pb-2 xs:tw-text-xs md:tw-text-base tw-font-medium">{{file_name}}<span class=" xs:tw-mt-2 md:tw-mt-0 xs:tw-float-left md:tw-float-right">Batch_ID : {{id}}</span></div>
                    <div class=" xs:tw-mt-2 md:tw-mt-0 xs:tw-float-left md:tw-float-none tw-text-xs"><q-icon size="14px" name="today"/><span class="tw-pl-2">{{dates}}</span></div>
                </q-card-section>
            </q-card>
            </div>
        <div v-if="this.status=='Completed'">
            <q-card v-for="(val,index) in compData" :key="index">
            <q-expansion-item
                class=" tw-bg-gray-200 tw-mb-2"
                expand-separator
            >
                <template v-slot:header>
                    <q-item-section avatar>
                        <q-icon v-if="val.Overall_Status=='Completed'" size="35px" name="verified" color="primary" text-color="white">
                            <q-tooltip>{{val.Overall_Status}}</q-tooltip>
                        </q-icon> 
                    </q-item-section>
                    <q-item-section>
                        <div class=" xs:tw-text-xs md:tw-text-base tw-font-medium">{{val.Values}}</div>
                        <div><q-icon class=" tw-text-gray-700" name="schedule"/><span class=" tw-ml-1 tw-text-xxs tw-text-gray-700">{{val["Start time"].split(" ")[1]}}</span> - <q-icon class=" tw-text-gray-700" name="schedule"/><span class=" tw-ml-1 tw-text-xxs tw-text-gray-700">{{val["End time"].split(" ")[1]}}</span></div>
                    </q-item-section>
                </template>
                <q-card>
                <q-card-section>
                    <q-table 
                    flat
                    :columns="cColumn"
                    :data="(val.Values=='LOAD_AND_DQM_PIPELINE')? tCPData:(val.Values=='LOAD_TO_STAGING')?tCSData:(val.Values=='RUN_BUSINESS_VALIDATION')?tCRData:(val.Values=='CHANNEL_PARTNER_BUS_KEY_MAPP')?tCMData:tCFData"
                    hide-pagination/>
                </q-card-section>
                </q-card>
            </q-expansion-item>
            </q-card>
        </div>
        <div v-else>
            <q-card v-for="(val,index) in failedData" :key="index">
            <q-expansion-item
                class=" tw-bg-gray-200 tw-mb-2"
                :default-opened="val.Overall_Status=='Failed'"
                expand-separator
            >
                <template v-slot:header>
                    <q-item-section avatar>
                        <q-icon v-if="val.Overall_Status=='Completed'" size="35px" name="verified" color="primary" text-color="white">
                            <q-tooltip>{{val.Overall_Status}}</q-tooltip>
                        </q-icon>
                        <q-icon v-else size="35px" name="sms_failed" color="red" text-color="white">
                            <q-tooltip>{{val.Overall_Status}}</q-tooltip>
                        </q-icon>
                    </q-item-section>
                    <q-item-section>
                        <div class=" xs:tw-text-xs md:tw-text-base tw-font-medium">{{val.Values}}</div>
                        <div><q-icon class=" tw-text-gray-700" name="schedule"/><span class=" tw-ml-1 tw-text-xxs tw-text-gray-700">{{val["Start time"].split(" ")[1]}}</span> - <q-icon class=" tw-text-gray-700" name="schedule"/><span class=" tw-ml-1 tw-text-xxs tw-text-gray-700">{{val["End time"].split(" ")[1]}}</span></div>
                    </q-item-section>
                </template>
                <q-card>
                <q-card-section>
                    <q-table 
                    flat
                    :columns="fColumn"
                    :data="(val.Values=='LOAD_AND_DQM_PIPELINE')? tFPData:(val.Values=='LOAD_TO_STAGING')? tFSData:tFRData"
                    hide-pagination/>
                </q-card-section>
                </q-card>
            </q-expansion-item>
            </q-card>
        </div>
    </div>
</template>

<script>

import master from 'assets/fileMaster.json'
import comp from 'assets/Completed.json'
import failed from 'assets/Failed.json'

export default {
    name:'batch',
    data(){
        return{
            mas:master,
            compData:comp,
            failedData:failed,
            tFData:[],
            tCPData:[],
            tCFData:[],
            tCSData:[],
            tCRData:[],
            tCMData:[],
            tFPData:[],
            tFSData:[],
            tFRData:[],
            slide:'',
            model:'',
            id:'',
            status:'',
            create:'',
            dates:'',
            file_name:'',
            cColumn:[{name:'Log Key',label:'Log Key',align:'left',field:'Log Key'},{name:'Status',label:'Status',align:'left',field:'Status'}],
            fColumn:[{name:'Log Key',label:'Log Key',align:'left',field:'Log Key'},{name:'Status',label:'Status',align:'left',field:'Status'},{name:'Error Message',label:'Error Message',align:'left',field:'Error Message'}]
        }
    },
    created(){
        this.id=this.$route.params.id
        for(let i=0;i<this.mas.length;i++){
            if(this.id==this.mas[i].batch_id){
                this.status=this.mas[i].status
                this.create=this.mas[i]["created at"]
                this.file_name=this.mas[i].file_name
                break
            }
        }
        this.dates= this.create.split(" ")[0]
        for(let i=0;i<this.compData.length;i++){
            // let a={}
            // a["label"]=this.compData[i].Values
            // a["value"]=this.compData[i].Values
            // this.compVal.push(a)
            for(let j=0;j<this.compData[i].Value_log_key.length;j++){
                let b={}
                b["Log Key"]=this.compData[i].Value_log_key[j].LogKey
                b["Status"]=this.compData[i].Value_log_key[j].Status
                if(this.compData[i].Values=='LOAD_AND_DQM_PIPELINE'){
                    this.tCPData.push(b)
                }else if(this.compData[i].Values=='LOAD_TO_STAGING'){
                    this.tCSData.push(b)
                }else if(this.compData[i].Values=='RUN_BUSINESS_VALIDATION'){
                    this.tCRData.push(b)
                }else if(this.compData[i].Values=='CHANNEL_PARTNER_BUS_KEY_MAPP'){
                    this.tCMData.push(b)
                }else if(this.compData[i].Values=='FACT_EXECUTION'){
                    this.tCFData.push(b)
                }
            }
        }
        // this.slide=this.compVal[0].value
        for(let i=0;i<this.failedData.length;i++){
            // let a={}
            // a["label"]=this.failedData[i].Values
            // a["value"]=this.failedData[i].Values
            // this.failVal.push(a)
            for(let j=0;j<this.failedData[i].Value_log_key.length;j++){
                let b={}
                b["Log Key"]=this.failedData[i].Value_log_key[j].LogKey
                b["Status"]=this.failedData[i].Value_log_key[j].Status
                b["Error Message"]=this.failedData[i].value_error_message
                if(this.failedData[i].Values=='LOAD_AND_DQM_PIPELINE'){
                    this.tFPData.push(b)
                }else if(this.failedData[i].Values=='LOAD_TO_STAGING'){
                    this.tFSData.push(b)
                }else if(this.failedData[i].Values=='RUN_BUSINESS_VALIDATION'){
                    this.tFRData.push(b)
                }
            }
        }
        // this.model=this.failVal[0].value
    }
}
</script>