<template>
    <div>
        <q-card>
        <q-tabs
          v-model="tab"
          class="text-grey tw-w-full"
          active-color="primary"
          indicator-color="primary"
          align="justify"
        >
          <q-tab name="Location" label="Landing" />
          <q-tab name="archived" label="Archived" />
          <q-tab name="dqm" label="DQM" />
          <q-tab name="deleted" label="Deleted" />
        </q-tabs>

        <q-separator />

        <q-tab-panels v-model="tab" animated>
          <q-tab-panel name="Location">
              <q-scroll-area class="tw-h-88">
            <q-markup-table  flat>
                <thead>
                    <tr class=" bg-primary tw-text-white">
                        <th class="text-left">Source</th>
                        <th class="text-left">File Name</th>
                        <th class="text-left">File Size</th>
                        <th class="text-left">Date Created</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <q-tr v-for="(data,index) in landing" :key="index">
                        <q-td>
                            {{data["Source"]}}
                        </q-td>
                        <q-td>
                            {{data["File Name"]}}
                        </q-td>
                        <q-td>
                            {{data["File Size"]}}
                        </q-td>
                        <q-td>
                            {{data["Date Created"]}}
                        </q-td>
                        <q-td>
                            <div class=" tw-flex tw-flex-row tw-justify-around">
                                <div>
                            <q-btn @click="download(index)" color="primary">
                                <q-icon name="file_download"/>
                            </q-btn></div>
                            <div><q-btn @click="archive(index)" color="green">
                                <q-icon name="archive"/>
                            </q-btn></div>
                            <div><q-btn @click="deleteRow(index)" color="red">
                                <q-icon name="delete" />
                            </q-btn></div>
                            </div>
                        </q-td>
                    </q-tr>
                </tbody>
                </q-markup-table>
                <q-separator/>
              </q-scroll-area>
          </q-tab-panel>

          <q-tab-panel name="archived">
                <q-table
                 flat
                 :data="archived"
                 :columns="column"
                 :rows-per-page-options="[0]"
                />
          </q-tab-panel>

          <q-tab-panel name="dqm">
            <div  class=" tw-grid tw-grid-cols-1 tw-gap-2">
                <div>
                    <q-input class=" xs:tw-w-full xs:tw-float-none md:tw-w-80 md:tw-float-right" dense v-model="filter" placeholder=" Search" outlined type="search">
                        <template v-slot:append>
                            <q-icon name="search" />
                        </template>
                    </q-input>
                </div>
                <div>
                    <q-expansion-item
                        expand-separator
                        label="SD"
                        class=" tw-bg-gray-200"
                    >
                            <q-table
                            flat
                            :data="sdData"
                            hide-pagination
                            :columns="sourceCol"
                            class="my-sticky-dynamic"
                            :pagination.sync="pagination"
                            :rows-per-page-options="[0]"
                            virtual-scroll
                            :filter="filter"
                            >
                            <template v-slot:body-cell-Download="props">
                                <q-td :props="props">
                                       <div>
                                            <q-btn @click="download(index)" flat>
                                                <q-icon name="file_download"/>
                                            </q-btn>
                                        </div>
                                </q-td>
                            </template>
                            </q-table>
                    </q-expansion-item>
                    <q-separator />
                </div>
                
                <div>

                    <q-expansion-item
                        expand-separator
                        label="INS"
                        class=" tw-bg-gray-200"
                    >
                        <q-table
                            flat
                            :data="insData"
                            :columns="sourceCol"
                            hide-pagination
                            class="my-sticky-dynamic"
                            :pagination.sync="pagination"
                            :rows-per-page-options="[0]"
                            virtual-scroll
                            :filter="filter"
                            >
                            <template v-slot:body-cell-Download="props">
                                <q-td :props="props">
                                       <div>
                                            <q-btn @click="download(index)" flat>
                                                <q-icon name="file_download"/>
                                            </q-btn>
                                        </div>
                                </q-td>
                            </template>
                            </q-table>
                    </q-expansion-item>
                    <q-separator />
                </div>
                
                <div>
                    <q-expansion-item
                        expand-separator
                        label="VA"
                        class=" tw-bg-gray-200"
                    >
                        <q-table
                            flat
                            :data="vaData"
                            :columns="sourceCol"
                            hide-pagination
                            class="my-sticky-dynamic"
                            :pagination.sync="pagination"
                            :rows-per-page-options="[0]"
                            virtual-scroll
                            :filter="filter"
                            >
                            <template v-slot:body-cell-Download="props">
                                <q-td :props="props">
                                       <div>
                                            <q-btn @click="download(index)" flat>
                                                <q-icon name="file_download"/>
                                            </q-btn>
                                        </div>
                                </q-td>
                            </template>
                            </q-table>
                    </q-expansion-item>
                    <q-separator />
                </div>
                <div>
                    <q-expansion-item
                        expand-separator
                        label="SHARP"
                        class=" tw-bg-gray-200"
                    >
                        <q-table
                            flat
                            :data="shaData"
                            :columns="sourceCol"
                            hide-pagination
                            class="my-sticky-dynamic"
                            :pagination.sync="pagination"
                            :rows-per-page-options="[0]"
                            virtual-scroll
                            :filter="filter"
                            >
                            <template v-slot:body-cell-Download="props">
                                <q-td :props="props">
                                       <div>
                                            <q-btn flat @click="download(index)">
                                                <q-icon name="file_download"/>
                                            </q-btn>
                                        </div>
                                </q-td>
                            </template>
                            </q-table>
                    </q-expansion-item>
                    <q-separator />
                </div>
                <div>
                    <q-expansion-item
                        expand-separator
                        label="EASE"
                        class=" tw-bg-gray-200"
                    >
                        <q-table
                            flat
                            :data="easeData"
                            :columns="sourceCol"
                            hide-pagination
                            class="my-sticky-dynamic"
                            :pagination.sync="pagination"
                            :rows-per-page-options="[0]"
                            virtual-scroll
                            :filter="filter"
                            >
                            <template v-slot:body-cell-Download="props">
                                <q-td :props="props">
                                       <div>
                                            <q-btn @click="download(index)" flat>
                                                <q-icon name="file_download"/>
                                            </q-btn>
                                        </div>
                                </q-td>
                            </template>
                            </q-table>
                    </q-expansion-item>
                    <q-separator />
                </div>
                <div>
                    <q-expansion-item
                        expand-separator
                        label="SP"
                        default-opened
                        class=" tw-bg-gray-200"
                    >
                        <q-table
                            flat
                            :data="spData"
                            :columns="sourceCol"
                            hide-pagination
                            class="my-sticky-dynamic"
                            :pagination.sync="pagination"
                            :rows-per-page-options="[0]"
                            virtual-scroll
                            :filter="filter"
                            >
                            <template v-slot:body-cell-Download="props">
                                <q-td :props="props">
                                       <div>
                                            <q-btn @click="download(index)" flat>
                                                <q-icon name="file_download"/>
                                            </q-btn>
                                        </div>
                                </q-td>
                            </template>
                            </q-table>
                    </q-expansion-item>
                </div>
                </div>
          </q-tab-panel>
          <q-tab-panel name="deleted">
                <q-table
                flat
                 :data="deleted"
                 :columns="column"
                 :rows-per-page-options="[0]"
                />
          </q-tab-panel>
        </q-tab-panels>
      </q-card>

    </div>
</template>

<script>

import DailyUpdate from 'assets/dailyUpdate.json'
import buckets from 'assets/buckets.json'



export default {
    name:'Buckets',
    data () {
        return {
            tab: 'Location',
            datas:DailyUpdate,
            deleted:[],
            archived:[],
            spData:[],
            sdData:[],
            vaData:[],
            easeData:[],
            shaData:[],
            insData:[],
            filter:'',
            buck:buckets,
            landing:[],
            pagination: {
                rowsPerPage: 0
            },
            column: [
            {
              name: 'Source',
              label: 'Source',
              align: 'left',
              field:"Source",
            },
            { name: 'File Name', align: 'left', label: 'File Name',field:"File Name" },
            { name: 'File Size',align:'left', label: 'File Size',field:"File Size" },
            { name: 'Date Created',align:'left', label: 'Date Created',field:"Date Created" },
          ],
          sourceCol: [
            { name: 'File Name', align: 'left', label: 'File Name',field:"File Name" },
            { name: 'File Size',align:'left', label: 'File Size',field:"File Size" },
            { name: 'Date Created',align:'left', label: 'Date Created',field:"Date Created" },
            { name: 'Download',align:'left', label: 'Download',field:"Date Created" },
          ]
        }
    },
    methods:{
        // download(index){

        // },
        archive(index){
            let a={}
            a["Source"]=this.landing[index]["Source"]
            a["File Name"]=this.landing[index]["File Name"]
            a["File Size"]=this.landing[index]["File Size"]
            a["Date Created"]=this.landing[index]["Date Created"]
            this.archived.push(a)
            this.landing = [ ...this.landing.slice(0, index), ...this.landing.slice(index + 1) ]
            this.$q.notify({
                        color: 'green',
                        textColor: 'white',
                        icon: 'archived',
                        message: 'Record Archived'
                    })    
        },
        deleteRow(index){
            let a={}
            a["Source"]=this.landing[index]["Source"]
            a["File Name"]=this.landing[index]["File Name"]
            a["File Size"]=this.landing[index]["File Size"]
            a["Date Created"]=this.landing[index]["Date Created"]
            this.deleted.push(a)
            this.landing = [ ...this.landing.slice(0, index), ...this.landing.slice(index + 1) ]
            this.$q.notify({
                        color: 'red',
                        textColor: 'white',
                        icon: 'delete',
                        message: 'Record Deleted'
                    })    
        }
    },
    created(){
        for(let i=0;i<this.buck.length;i++){
            if(this.buck[i].Location=="Archive"){
                this.archived.push(this.buck[i])
            }else if(this.buck[i].Location=="Deleted"){
                this.deleted.push(this.buck[i])
            }else if(this.buck[i].Location=="DQM"){
                if(this.buck[i].Source=="SHA"){
                    this.shaData.push(this.buck[i])
                }else if(this.buck[i].Source=="SP"){
                    this.spData.push(this.buck[i])
                }else if(this.buck[i].Source=="SD"){
                    this.sdData.push(this.buck[i])
                }else if(this.buck[i].Source=="EASE"){
                    this.easeData.push(this.buck[i])
                }else if(this.buck[i].Source=="VA"){
                    this.vaData.push(this.buck[i])
                }else if(this.buck[i].Source=="INS"){
                    this.insData.push(this.buck[i])
                }
            }
            if(this.buck[i].Location=="Landing" || this.buck[i].Location=="DQM"){
                this.landing.push(this.buck[i])
            }
        }
    }


}
</script>

<style lang="sass">
.my-sticky-dynamic
  height:160px

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th /* bg color is important for th; just specify one */
    background-color: #fff

  thead tr th
    position: sticky
    z-index: 1

  thead tr:last-child th
    top: 48px
  thead tr:first-child th
    top: 0
</style>