<template>
    <div>
        <q-card class=" tw-w-full tw-bg-blue-600 tw-font-medium tw-text-white tw-mb-4"><q-card-section>BUSINESS VALIDATION REVIEW</q-card-section></q-card>
        <q-card>
              <q-tabs
                v-model="tabs"
                class="text-grey"
                active-color="primary"
                indicator-color="primary"
                align="justify"
                >
                <q-tab name="sd" label="SD" />
                <q-tab name="ins" label="INS" />
                <q-tab name="va" label="VA" />
                <q-tab name="sha" label="SHA" />
                <q-tab name="ease" label="EASE" />
                <q-tab name="sp" label="SP" />
                </q-tabs>
                <q-tab-panels v-model="tabs" animated>
                <q-tab-panel name="sd">
                    <q-table
                        flat
                         :data="sdDataArchive"
                         :columns="columns"
                         hide-pagination
                         class="my-sticky-dynamic"
                         :class="this.sdDataArchive.length==0?' tw-h-32':' tw-h-99'"
                         :pagination.sync="pagination"
                        :rows-per-page-options="[0]"
                        virtual-scroll
                        >
                        </q-table>
                </q-tab-panel>

                <q-tab-panel name="ins">
                    <q-table
                        flat
                         :data="insDataArchive"
                         :columns="columns"
                         hide-pagination
                         class="my-sticky-dynamic"
                         :class="this.insDataArchive.length==0?' tw-h-32':' tw-h-99'"
                         :pagination.sync="pagination"
                        :rows-per-page-options="[0]"
                        virtual-scroll
                        >
                      </q-table>
                </q-tab-panel>

                <q-tab-panel name="va">
                    <q-table
                          flat
                         :data="vaDataArchive"
                         :columns="columns"
                         hide-pagination
                         class="my-sticky-dynamic"
                         :class="this.vaDataArchive.length==0?' tw-h-32':' tw-h-99'"
                         :pagination.sync="pagination"
                        :rows-per-page-options="[0]"
                        virtual-scroll
                        >
                        </q-table>
                </q-tab-panel>
                <q-tab-panel name="sha">
                    <q-table
                        flat
                         :data="shaDataArchive"
                         :columns="columns"
                         hide-pagination
                         class="my-sticky-dynamic"
                         :class="this.shaDataArchive.length==0?' tw-h-32':' tw-h-99'"
                         :pagination.sync="pagination"
                        :rows-per-page-options="[0]"
                        virtual-scroll
                        >
                        </q-table>
                </q-tab-panel>

                <q-tab-panel name="ease">
                    <q-table
                        flat
                         :data="easeDataArchive"
                         :columns="columns"
                         hide-pagination
                         class="my-sticky-dynamic"
                         :class="this.easeDataArchive.length==0?' tw-h-32':' tw-h-99'"
                         :pagination.sync="pagination"
                        :rows-per-page-options="[0]"
                        virtual-scroll
                        >
                        </q-table>
                </q-tab-panel>

                <q-tab-panel name="sp">
                    <q-table
                        flat
                         :data="spDataArchive"
                         :columns="columns"
                         hide-pagination
                         :class="this.spDataArchive.length==0?' tw-h-32':' tw-h-99'"
                         class="my-sticky-dynamic"
                         :pagination.sync="pagination"
                        :rows-per-page-options="[0]"
                        virtual-scroll
                        >
                    </q-table>
                </q-tab-panel>
            </q-tab-panels>
        </q-card>
    </div>
</template>

<script>



export default{
    data () {
        return {
          pagination: {
                rowsPerPage: 0
            },
          tabs:'sd',
           columns:[ 
            {name:"hold_reason",label:'HOLD REASON',align:'left',field:"hold_reason"},{name:"filename",label:'FILE NAME',align:'left',field:"filename"},
            {name:"batch_id",label:'BATCH ID',align:'left',field:"batch_id"},{name:"edw_record_num",label:'EDW_RECORD_NUM',align:'left',field:"edw_record_num"},
            {name:"source_type",label:'SOURCE TYPE',align:'left',field:"source_type"},{name:"source_nm",label:'SOURCE_NM',align:'left',field:"source_nm"},
            {name:"content_type",label:'CONTENT TYPE',align:'left',field:"content_type"},{name:"file_type",label:'FILE TYPE',align:'left',field:"file_type"},
            {name:"edw_insert_dt",label:'EDW_INSERT_DT',align:'left',field:"edw_insert_dt"},{name:"record_id",label:'RECORD ID',align:'left',field:"record_id"},
            {name:"restatement_flag",label:'RESTATEMENT FLAG',align:'left',field:"restatement_flag"},{name:"sp_pat_id",label:'SP_PAT_ID',align:'left',field:"sp_pat_id"},
            {name:"hub_pat_id",label:'HUB_PAT_ID',align:'left',field:"hub_pat_id"},{name:"primary_icd_cd",label:'PRIMARY_ICD_CD',align:'left',field:"primary_icd_cd"},
            {name:"sp_ship_from_addr_line_1",label:'SP_SHIP_FROM_ADDR_LINE_1',align:'left',field:"sp_ship_from_addr_line_1"},{name:"sp_ship_from_zip",label:'SP_SHIP_FROM_ZIP',align:'left',field:"sp_ship_from_zip"},
            {name:"sp_ncpdp_id",label:'SP_NCPDP_ID',align:'left',field:"sp_ncpdp_id"},{name:"cust_npi",label:'CUST_NPI',align:'left',field:"cust_npi"},
            {name:"cust_dea",label:'CUST_DEA',align:'left',field:"cust_dea"},{name:"sp_presc_id",label:'SP_PRESC_ID',align:'left',field:"sp_presc_id"},
            {name:"cust_last_nm",label:'CUST_LAST_NM',align:'left',field:"cust_last_nm"},{name:"cust_first_nm",label:'CUST_FIRST_NM',align:'left',field:"cust_first_nm"},
            {name:"cust_addr_line_1",label:'CUST_ADDR_LINE_1',align:'left',field:"cust_addr_line_1"},{name:"cust_city",label:'CUST_CITY',align:'left',field:"cust_city"},
            {name:"cust_state",label:'CUST_STATE',align:'left',field:"cust_state"},{name:"cust_zip",label:'CUST_ZIP',align:'left',field:"cust_zip"},
            {name:"rx_num",label:'RX_NUM',align:'left',field:"rx_num"},{name:"prod_ndc",label:'PROD_NDC',align:'left',field:"prod_ndc"},
            {name:"prod_desc",label:'PROD_DESC',align:'left',field:"prod_desc"},{name:"rx_freq",label:'RX_FREQ',align:'left',field:"rx_freq"},
            {name:"total_fills_written",label:'TOTAL_FILLS_WRITTEN',align:'left',field:"total_fills_written"},{name:"sp_shipment_id",label:'SP_SHIPMENT_ID',align:'left',field:"sp_shipment_id"},
            {name:"ship_dt",label:'SHIP_DT',align:'left',field:"ship_dt"},{name:"days_supplied",label:'DAYS_SUPPLIED',align:'left',field:"days_supplied"},
            {name:"qty_shipped",label:'QTY_SHIPPED',align:'left',field:"qty_shipped"},{name:"fill_num",label:'FILL_NUM',align:'left',field:"fill_num"},
            {name:"order_num",label:'ORDER_NUM',align:'left',field:"order_num"},{name:"next_scheduled_ship_dt",label:'NEXT_SCHEDULED_SHIP_DT',align:'left',field:"next_scheduled_ship_dt"},
            {name:"pri_payer_id",label:'PRI_PAYER_ID',align:'left',field:"pri_payer_id"},{name:"pri_payer_nm",label:'PRI_PAYER_NM',align:'left',field:"pri_payer_nm"},
            {name:"pri_payer_bin",label:'PRI_PAYER_BIN',align:'left',field:"pri_payer_bin"},{name:"pri_payer_pcn",label:'PRI_PAYER_PCN',align:'left',field:"pri_payer_pcn"},
            {name:"pri_payment_type",label:'PRI_PAYMENT_TYPE',align:'left',field:"pri_payment_type"},{name:"benefit_type",label:'BENEFIT_TYPE',align:'left',field:"benefit_type"},
            {name:"transaction_key",label:'TRANSACTION_KEY',align:'left',field:"transaction_key"}
          ]
        }
    },
    computed:{
        shaDataArchive(){
        return this.$store.state.shaDataArchive
        },
        spDataArchive(){
        return this.$store.state.spDataArchive
        },
        sdDataArchive(){
        return this.$store.state.sdDataArchive
        },
        vaDataArchive(){
        return this.$store.state.vaDataArchive
        },
        insDataArchive(){
        return this.$store.state.insDataArchive
        },
        easeDataArchive(){
        return this.$store.state.easeDataArchive
        }
    },
}
</script>

<style lang="sass">
.my-sticky-dynamic

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th /* bg color is important for th; just specify one */
    background-color: #fff

  thead tr th
    position: sticky
    z-index: 1

  thead tr:last-child th
    top: 48px
  thead tr:first-child th
    top: 0
</style>