<template>
    <div>
        <q-card class=" tw-w-full tw-bg-blue-600 tw-font-medium tw-text-white tw-mb-4"><q-card-section>BUSINESS VALIDATION REVIEW</q-card-section></q-card>
        <q-card>
                <q-tabs
                v-model="tabs"
                class="text-grey"
                active-color="primary"
                indicator-color="primary"
                align="justify"
                >
                <q-tab @click="change()" name="sd" label="SD" />
                <q-tab @click="change()" name="ins" label="INS" />
                <q-tab @click="change()" name="va" label="VA" />
                <q-tab @click="change()" name="sha" label="SHA" />
                <q-tab @click="change()" name="ease" label="EASE" />
                <q-tab @click="change()" name="sp" label="SP" />
                </q-tabs>
                <q-tab-panels v-for="ts in tabss" :key="ts" v-model="tabs" animated>
                <q-tab-panel :name=ts class=" xs:tw-p-1 md:tw-p-4">
                    <q-table
                         :data="(ts==tabss[0])? sdData:(ts==tabss[1])?insData:(ts==tabss[2])?vaData:(ts==tabss[3])?shaData:(ts==tabss[4])?easeData:spData"
                         :title="(ts==tabss[0])? 'SD ('+sdData.length+' records)':(ts==tabss[1])?'INS ('+insData.length+' records)':(ts==tabss[2])?'VA ('+vaData.length+' records)':(ts==tabss[3])?'SHARP ('+shaData.length+' records)':(ts==tabss[4])?'EASE ('+easeData.length+' records)':'SP ('+spData.length+' records)'"
                         :columns="columns"
                         hide-pagination
                         class="my-sticky-dynamic"
                         selection="multiple"
                         row-key="record_id"
                         flat
                        :selected.sync="selected"
                        :selected-rows-label="getSelectedString"
                        :pagination.sync="pagination"
                        :rows-per-page-options="[0]"
                        virtual-scroll
                        >
                        <template v-slot:top-right>
                          <div class=" tw-flex md:tw-flex-row xs:tw-flex-col">
                          <div v-if="selected.length==0">
                          <q-btn class=" xs:tw-mt-2 md:tw-mt-0" label="APPROVE / ARCHIVE" disable color="green" @click="approve=true" />
                          </div>
                          <div v-else><q-btn class=" xs:tw-mt-2 md:tw-mt-0 " label="APPROVE / ARCHIVE" color="green" @click="approve=true" /></div>
                                      <div v-if="selected.length!=0">
                                      <q-btn-dropdown class="xs:tw-mt-2 md:tw-mt-0 md:tw-ml-2"  color="primary" :label="val">
                                        <q-list>
                                          <q-item clickable @click="exportSelectedRecordsCSV" v-close-popup>
                                            <q-item-section>
                                              <q-item-label>EXPORT TO CSV</q-item-label>
                                            </q-item-section>
                                          </q-item>

                                          <q-item clickable @click="exportSelectedRecordsXLS" v-close-popup >
                                            <q-item-section>
                                              <q-item-label>EXPORT TO XLS</q-item-label>
                                            </q-item-section>
                                          </q-item>
                                        </q-list>
                                      </q-btn-dropdown>
                                      </div>
                                      <div v-else>
                                      <q-btn-dropdown class="xs:tw-mt-2 md:tw-mt-0 md:tw-ml-2" color="primary" :label="val">
                                        <q-list>
                                          <q-item clickable @click="exportTable" v-close-popup>
                                            <q-item-section>
                                              <q-item-label>EXPORT TO CSV</q-item-label>
                                            </q-item-section>
                                          </q-item>

                                          <q-item clickable @click="exportTableXLS" v-close-popup >
                                            <q-item-section>
                                              <q-item-label>EXPORT TO XLS</q-item-label>
                                            </q-item-section>
                                          </q-item>
                                        </q-list>
                                      </q-btn-dropdown>
                                      </div>
                          </div>
                          <q-dialog v-model="approve" persistent>
                            <q-card style="max-width:1600px;width:1000px">
                              <q-card-section>
                                <q-table
                                  flat
                                  :title="(ts==tabss[0])? 'Selected SD Records':(ts==tabss[1])?'Selected INS Records':(ts==tabss[2])?'Selected VA Records':(ts==tabss[3])?'Selected SHA Records':(ts==tabss[4])?'Selected EASE Records':'Selected SP Records'"
                                  :data="selected"
                                  :columns="popColumns"
                                  hide-bottom
                                  class="my-sticky-dynamic"
                                  :pagination.sync="pagination"
                                  :rows-per-page-options="[0]"
                                  virtual-scroll
                                />
                                <q-separator/>
                                <q-select
                                class=" tw-mt-3"
                                  outlined
                                  dense
                                  label="Select Approval Reason"
                                  v-model="model"
                                  :options="reasons"
                                  lazy-rules
                                />
                                <q-input class=" tw-mt-2" placeholder=" Comments "  dense v-model="address" autofocus/>
                              </q-card-section>

                              <q-card-actions align="right">
                                <q-btn label="APPROVE" icon-right="fact_check" color="green" @click="approved()" v-close-popup/>
                                <q-btn label="ARCHIVE" icon-right="archive" class=" q-ml-sm" color="primary" @click="archiveAll()" v-close-popup/>
                              </q-card-actions>
                            </q-card>
                          </q-dialog>
                        </template>
                        </q-table>
                </q-tab-panel>
                </q-tab-panels>
        </q-card>
    </div>
</template>

<script>

import dailyUpdate from 'assets/dailyUpdate.json'
import easeHold from 'assets/ease_hold.json' 
import shaHold from 'assets/sha_hold.json' 
import spHold from 'assets/sp_hold.json' 
import sdHold from 'assets/sd_hold.json' 
import vaHold from 'assets/va_hold.json' 
import insHold from 'assets/ins_hold.json' 
import { exportFile } from 'quasar'

function wrapCsvValue (val, formatFn) {
  let formatted = formatFn !== void 0
    ? formatFn(val)
    : val

  formatted = formatted === void 0 || formatted === null
    ? ''
    : String(formatted)

  formatted = formatted.split('"').join('""')
  /**
   * Excel accepts \n and \r in strings, but some other CSV parsers do not
   * Uncomment the next two lines to escape new lines
   */
  // .split('\n').join('\\n')
  // .split('\r').join('\\r')

  return `"${formatted}"`
}

export default{
    data () {
        return {
          pagination: {
                rowsPerPage: 0
            },
          tab: 'hold',
          len:0,
          tabs:'sd',
          tabss:['sd','ins','va','sha','ease','sp'],
          title:'',
          val:'EXPORT TO CSV',
          data:dailyUpdate,
          address:'',
          model:null,
          reasons:['Verified - Valid Record','Verified - Invalid Record'],
          sData:spHold,
          dData:sdHold,
          vData:vaHold,
          easData:easeHold,
          shDat:shaHold,
          inData:insHold,
          selected:[],
          selectedVa:[],
          selectedIns:[],
          selectedSp:[],
          selectedEase:[],
          selectedSha:[],
          selected1:[],
          approve: false,
          archive:false,
          sdDataArchive:[],
          spDataArchive:[],
          insDataArchive:[],
          vaDataArchive:[],
          shaDataArchive:[],
          easeDataArchive:[],
          popColumns:[
            {name:"hold_reason",label:'HOLD REASON',align:'left',field:"hold_reason"},
            {name:"batch_id",label:'BATCH ID',align:'left',field:"batch_id"},{name:"source_nm",label:'SOURCE_NM',align:'left',field:"source_nm"},
            {name:"content_type",label:'CONTENT TYPE',align:'left',field:"content_type"},{name:"record_id",label:'RECORD ID',align:'left',field:"record_id"}],
          columns:[ 
            {name:"hold_reason",label:'HOLD REASON',align:'left',field:"hold_reason"},{name:"filename",label:'FILE NAME',align:'left',field:"filename"},
            {name:"batch_id",label:'BATCH ID',align:'left',field:"batch_id"},{name:"edw_record_num",label:'EDW_RECORD_NUM',align:'left',field:"edw_record_num"},
            {name:"source_type",label:'SOURCE TYPE',align:'left',field:"source_type"},{name:"source_nm",label:'SOURCE_NM',align:'left',field:"source_nm"},
            {name:"content_type",label:'CONTENT TYPE',align:'left',field:"content_type"},{name:"file_type",label:'FILE TYPE',align:'left',field:"file_type"},
            {name:"edw_insert_dt",label:'EDW_INSERT_DT',align:'left',field:"edw_insert_dt"},{name:"record_id",label:'RECORD ID',align:'left',field:"record_id"},
            {name:"restatement_flag",label:'RESTATEMENT FLAG',align:'left',field:"restatement_flag"},{name:"sp_pat_id",label:'SP_PAT_ID',align:'left',field:"sp_pat_id"},
            {name:"hub_pat_id",label:'HUB_PAT_ID',align:'left',field:"hub_pat_id"},{name:"primary_icd_cd",label:'PRIMARY_ICD_CD',align:'left',field:"primary_icd_cd"},
            {name:"sp_ship_from_addr_line_1",label:'SP_SHIP_FROM_ADDR_LINE_1',align:'left',field:"sp_ship_from_addr_line_1"},{name:"sp_ship_from_zip",label:'SP_SHIP_FROM_ZIP',align:'left',field:"sp_ship_from_zip"},
            {name:"sp_ncpdp_id",label:'SP_NCPDP_ID',align:'left',field:"sp_ncpdp_id"},{name:"cust_npi",label:'CUST_NPI',align:'left',field:"cust_npi"},
            {name:"cust_dea",label:'CUST_DEA',align:'left',field:"cust_dea"},{name:"sp_presc_id",label:'SP_PRESC_ID',align:'left',field:"sp_presc_id"},
            {name:"cust_last_nm",label:'CUST_LAST_NM',align:'left',field:"cust_last_nm"},{name:"cust_first_nm",label:'CUST_FIRST_NM',align:'left',field:"cust_first_nm"},
            {name:"cust_addr_line_1",label:'CUST_ADDR_LINE_1',align:'left',field:"cust_addr_line_1"},{name:"cust_city",label:'CUST_CITY',align:'left',field:"cust_city"},
            {name:"cust_state",label:'CUST_STATE',align:'left',field:"cust_state"},{name:"cust_zip",label:'CUST_ZIP',align:'left',field:"cust_zip"},
            {name:"rx_num",label:'RX_NUM',align:'left',field:"rx_num"},{name:"prod_ndc",label:'PROD_NDC',align:'left',field:"prod_ndc"},
            {name:"prod_desc",label:'PROD_DESC',align:'left',field:"prod_desc"},{name:"rx_freq",label:'RX_FREQ',align:'left',field:"rx_freq"},
            {name:"total_fills_written",label:'TOTAL_FILLS_WRITTEN',align:'left',field:"total_fills_written"},{name:"sp_shipment_id",label:'SP_SHIPMENT_ID',align:'left',field:"sp_shipment_id"},
            {name:"ship_dt",label:'SHIP_DT',align:'left',field:"ship_dt"},{name:"days_supplied",label:'DAYS_SUPPLIED',align:'left',field:"days_supplied"},
            {name:"qty_shipped",label:'QTY_SHIPPED',align:'left',field:"qty_shipped"},{name:"fill_num",label:'FILL_NUM',align:'left',field:"fill_num"},
            {name:"order_num",label:'ORDER_NUM',align:'left',field:"order_num"},{name:"next_scheduled_ship_dt",label:'NEXT_SCHEDULED_SHIP_DT',align:'left',field:"next_scheduled_ship_dt"},
            {name:"pri_payer_id",label:'PRI_PAYER_ID',align:'left',field:"pri_payer_id"},{name:"pri_payer_nm",label:'PRI_PAYER_NM',align:'left',field:"pri_payer_nm"},
            {name:"pri_payer_bin",label:'PRI_PAYER_BIN',align:'left',field:"pri_payer_bin"},{name:"pri_payer_pcn",label:'PRI_PAYER_PCN',align:'left',field:"pri_payer_pcn"},
            {name:"pri_payment_type",label:'PRI_PAYMENT_TYPE',align:'left',field:"pri_payment_type"},{name:"benefit_type",label:'BENEFIT_TYPE',align:'left',field:"benefit_type"},
            {name:"transaction_key",label:'TRANSACTION_KEY',align:'left',field:"transaction_key"}
          ]
        }
    },
    computed:{
        shaData(){
        return this.$store.state.shaData
        },
        spData(){
        return this.$store.state.spData
        },
        sdData(){
        return this.$store.state.sdData
        },
        insData(){
        return this.$store.state.insData
        },
        vaData(){
        return this.$store.state.vaData
        },
        easeData(){
        return this.$store.state.easeData
        }
    },
    methods:{
      change(){
        this.selected=[]
      },
      getSelectedString () {
          
          if(this.tabs==this.tabss[0]){
            return this.selected.length === 0 ? '' : `${this.selected.length} record${this.selected.length > 1 ? 's' : ''} selected of ${this.sdData.length}`
          }else if(this.tabs==this.tabss[1]){
            return this.selected.length === 0 ? '' : `${this.selected.length} record${this.selected.length > 1 ? 's' : ''} selected of ${this.insData.length}`
          }else if(this.tabs==this.tabss[2]){
            return this.selected.length === 0 ? '' : `${this.selected.length} record${this.selected.length > 1 ? 's' : ''} selected of ${this.vaData.length}`
          }else if(this.tabs==this.tabss[3]){
            return this.selected.length === 0 ? '' : `${this.selected.length} record${this.selected.length > 1 ? 's' : ''} selected of ${this.shaData.length}`
          }else if(this.tabs==this.tabss[4]){
            return this.selected.length === 0 ? '' : `${this.selected.length} record${this.selected.length > 1 ? 's' : ''} selected of ${this.easeData.length}`
          }else if(this.tabs==this.tabss[5]){
            return this.selected.length === 0 ? '' : `${this.selected.length} record${this.selected.length > 1 ? 's' : ''} selected of ${this.spData.length}`
          }
      },
      cancel(){
        return this.selected=[]
      },
      approved(){
        this.selected=[]
        this.$q.notify({
                        color: 'green',
                        textColor: 'white',
                        icon: 'verified',
                        message: 'Record Approved'
                    }) 
      },
      archiveAll(){
        if(this.tabs==this.tabss[0]){
          for(let i=0;i<this.selected.length;i++){
            this.sdDataArchive.push(this.selected[i])
          }
          this.$store.commit('archiveSdData',this.sdDataArchive)
          var k=0;
          while(k<this.selected.length){
          for(let j=0;j<this.dData.length;j++){
            if(this.selected[k]["record_id"]==this.dData[j]["record_id"]){
              this.dData = [ ...this.dData.slice(0, j), ...this.dData.slice(j + 1)]
            }
          }
          k++
          }
          this.$store.commit('sdData',this.dData)
          this.approve=false
          this.selected=[]
          this.$q.notify({
                        color: 'primary',
                        textColor: 'white',
                        icon: 'archived',
                        message: 'Record Archived'
                    })    
        }else if(this.tabs==this.tabss[1]){
          for(let i=0;i<this.selected.length;i++){
            this.insDataArchive.push(this.selected[i])
          }
          this.$store.commit('archiveInsData',this.insDataArchive)
          var k=0;
          while(k<this.selected.length){
          for(let j=0;j<this.inData.length;j++){
            if(this.selected[k]["record_id"]==this.inData[j]["record_id"]){
              this.inData = [ ...this.inData.slice(0, j), ...this.inData.slice(j + 1)]
            }
          }
          k++
          }
          this.$store.commit('insData',this.inData)
          this.approve=false
          this.selected=[]
          this.$q.notify({
                        color: 'primary',
                        textColor: 'white',
                        icon: 'archived',
                        message: 'Record Archived'
                    })    
        }else if(this.tabs==this.tabss[2]){
          for(let i=0;i<this.selected.length;i++){
            this.vaDataArchive.push(this.selected[i])
          }
          this.$store.commit('archiveVaData',this.vaDataArchive)
          var k=0;
          while(k<this.selected.length){
          for(let j=0;j<this.vData.length;j++){
            if(this.selected[k]["record_id"]==this.vData[j]["record_id"]){
              this.vData = [ ...this.vData.slice(0, j), ...this.vData.slice(j + 1)]
            }
          }
          k++
          }
          this.$store.commit('vaData',this.vData)
          this.approve=false
          this.selected=[]
          this.$q.notify({
                        color: 'primary',
                        textColor: 'white',
                        icon: 'archived',
                        message: 'Record Archived'
                    })    
        }else if(this.tabs==this.tabss[3]){
          for(let i=0;i<this.selected.length;i++){
            this.shaDataArchive.push(this.selected[i])
          }
          this.$store.commit('archiveShaData',this.shaDataArchive)
          var k=0;
          while(k<this.selected.length){
          for(let j=0;j<this.shDat.length;j++){
            if(this.selected[k]["record_id"]==this.shDat[j]["record_id"]){
              this.shDat = [ ...this.shDat.slice(0, j), ...this.shDat.slice(j + 1)]
            }
          }
          k++
          }
          this.$store.commit('shaData',this.shDat)
          this.approve=false
          this.selected=[]
          this.$q.notify({
                        color: 'primary',
                        textColor: 'white',
                        icon: 'archived',
                        message: 'Record Archived'
                    })    
        }else if(this.tabs==this.tabss[4]){
          for(let i=0;i<this.selected.length;i++){
            this.easeDataArchive.push(this.selected[i])
          }
          this.$store.commit('archiveEaseData',this.easeDataArchive)
          var k=0;
          while(k<this.selected.length){
          for(let j=0;j<this.easData.length;j++){
            if(this.selected[k]["record_id"]==this.easData[j]["record_id"]){
              this.easData = [ ...this.easData.slice(0, j), ...this.easData.slice(j + 1)]
            }
          }
          k++
          }
          this.$store.commit('easeData',this.easData)
          this.approve=false
          this.selected=[]
          this.$q.notify({
                        color: 'primary',
                        textColor: 'white',
                        icon: 'archived',
                        message: 'Record Archived'
                    })    
        }else if(this.tabs==this.tabss[5]){
          for(let i=0;i<this.selected.length;i++){
            this.spDataArchive.push(this.selected[i])
          }
          this.$store.commit('archiveSpData',this.spDataArchive)
          var k=0;
          while(k<this.selected.length){
          for(let j=0;j<this.sData.length;j++){
            if(this.selected[k]["record_id"]==this.sData[j]["record_id"]){
              this.sData = [ ...this.sData.slice(0, j), ...this.sData.slice(j + 1)]
            }
          }
          k++
          }
          this.$store.commit('spData',this.sData)
          this.approve=false
          this.selected=[]
          this.$q.notify({
                        color: 'primary',
                        textColor: 'white',
                        icon: 'archived',
                        message: 'Record Archived'
                    })    
        }
      },
      exportTable () {
      // naive encoding to csv format
      this.val="EXPORT TO CSV"
          const content = [ this.data.map(col => wrapCsvValue(col["record_id"])) ].concat(
            this.data.map(row => this.data.map(col => wrapCsvValue(
              typeof col.field === 'function'
                ? col.field(row)
                : row[col.field === void 0 ? col["record_id"] : col.field],
              col.format
            )).join(','))
          ).join('\r\n')

          const status = exportFile(
            'table-export.csv',
            content,
            'text/csv'
          )

          if (status !== true) {
            this.$q.notify({
              message: 'Browser denied file download...',
              color: 'negative',
              icon: 'warning'
            })
          }
        },
        exportSelectedRecordsCSV() {
      // naive encoding to csv format
      this.val="EXPORT TO CSV"
          const content = [ this.data.map(col => wrapCsvValue(col.Status)) ].concat(
            this.data.map(row => this.data.map(col => wrapCsvValue(
              typeof col.field === 'function'
                ? col.field(row)
                : row[col.field === void 0 ? col["record_id"] : col.field],
              col.format
            )).join(','))
          ).join('\r\n')

          const status = exportFile(
            'table-export.csv',
            content,
            'text/csv'
          )

          if (status !== true) {
            this.$q.notify({
              message: 'Browser denied file download...',
              color: 'negative',
              icon: 'warning'
            })
          }
        },
        exportSelectedRecordsXLS() {
      // naive encoding to csv format
          this.val="EXPORT TO XLS"
          const content = [ this.selected.map(col => wrapCsvValue(col["record_id"])) ].concat(
            this.selected.map(row => this.selected.map(col => wrapCsvValue(
              typeof col.field === 'function'
                ? col.field(row)
                : row[col.field === void 0 ? col["record_id"] : col.field],
              col.format
            )).join(','))
          ).join('\r\n')

          const status = exportFile(
            'table-export.xls',
            content,
            'text/csv'
          )

          if (status !== true) {
            this.$q.notify({
              message: 'Browser denied file download...',
              color: 'negative',
              icon: 'warning'
            })
          }
        },
        exportTableXLS() {
      // naive encoding to csv format
          this.val="EXPORT TO XLS"
          const content = [ this.sdData.map(col => wrapCsvValue(col["record_id"])) ].concat(
            this.sdData.map(row => this.sdData.map(col => wrapCsvValue(
              typeof col.field === 'function'
                ? col.field(row)
                : row[col.field === void 0 ? col["record_id"] : col.field],
              col.format
            )).join(','))
          ).join('\r\n')

          const status = exportFile(
            'table-export.xls',
            content,
            'text/csv'
          )

          if (status !== true) {
            this.$q.notify({
              message: 'Browser denied file download...',
              color: 'negative',
              icon: 'warning'
            })
          }
        }
      
    },

     created(){
        if(this.$store.state.shaDataArchive.length==0){
          this.$store.commit('shaData',this.shDat)
        }
        if(this.$store.state.sdDataArchive.length==0){
          this.$store.commit('sdData',this.dData)
        }
        if(this.$store.state.spDataArchive.length==0){
          this.$store.commit('spData',this.sData)
        }
        if(this.$store.state.vaDataArchive.length==0){
          this.$store.commit('vaData',this.vData)
        }
        if(this.$store.state.easeDataArchive.length==0){
          this.$store.commit('easeData',this.easData)
        }
        if(this.$store.state.insDataArchive.length==0){
          this.$store.commit('insData',this.inData)
        }
    },

}
</script>

<style lang="sass">
.my-sticky-dynamic
  height: 465px

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th /* bg color is important for th; just specify one */
    background-color: #fff

  thead tr th
    position: sticky
    z-index: 1

  thead tr:last-child th
    top: 48px
  thead tr:first-child th
    top: 0
</style>