<template>
    <div>
        <div class=" tw-grid tw-grid-cols-1 tw-gap-4">
            <div><q-card class=" tw-w-full tw-bg-blue-600 tw-font-medium tw-text-white"><q-card-section>DETAILED FILE LEVEL DATA</q-card-section></q-card></div>
            <div>
                <q-table
                :data="data"
                :columns="column"
                @row-click="id"
                hide-bottom
                >
                    <template v-slot:body-cell-status="props">
                        <q-td :props="props">
                            <div>
                                <q-badge
                                :label="props.value"
                                :class="(props.value=='Completed')?' tw-bg-green-500':' tw-bg-red-500'"
                                ></q-badge>
                            </div>
                        </q-td>
                    </template>
                </q-table>
            </div>
        </div>
    </div>
</template>

<script>

import master from 'assets/fileMaster.json'

export default {
    data(){
        return{
            data:master,
            column:[{name:'batch_id',align:'left',field:'batch_id',label:'BATCH_ID'},{name:'file_name',align:'left',field:'file_name',label:'FILE NAME'},
            {name:'input_name',align:'left',field:'input_name',label:'INPUT NAME'},{name:'created at',align:'left',field:'created at',label:'CREATED AT'},
            {name:'status',align:'left',field:'status',label:'STATUS'}]
        }
    },
    methods:{
        id(evt,row){
            let routeData=this.$router.resolve({name:'batch',params:{id:row.batch_id}});
            window.open(routeData.href, '_blank');
        }
    }
}
</script>