<template>
<div>
  <div class=" tw-mb-4 xs:tw-w-full md:tw-w-72 tw-bg-white"><q-select @input="changeData()" dense outlined v-model="model" :options="options"/></div>
  <div class=" tw-grid xs:tw-grid-cols-1 xl:tw-grid-cols-4 tw-gap-4 ">
    <div>
      <q-card>
        <q-card-section class=" tw-bg-blue-600 tw-text-white">
        <div class=" tw-flex tw-flex-row tw-justify-between">
          <div>
            <div class=" tw-mb-2 tw-font-medium tw-text-base">Total Records</div>
            <div class=" tw-text-lg">{{totalRecords}}</div>
          </div>
          <div class=" tw-pt-2"><q-icon size="40px" name="dvr" /></div>
        </div>
        </q-card-section>
      </q-card>
    </div>
    <div>
          <q-card>
            <q-card-section class=" tw-bg-red-600 tw-text-white">
            <div class=" tw-flex tw-flex-row tw-justify-between">
              <div>
                <div class=" tw-mb-2 tw-font-medium tw-text-base">HOLD</div>
                <div class=" tw-text-lg">{{hold}}</div>
              </div>
              <div class=" tw-pt-2"><q-icon size="40px" name="front_hand" /></div>
            </div>
            </q-card-section>
          </q-card>
    </div>
    <div>
      <q-card>
            <q-card-section class=" tw-bg-orange-600 tw-text-white">
            <div class=" tw-flex tw-flex-row tw-justify-between">
              <div>
                <div class=" tw-mb-2 tw-font-medium tw-text-base">DQM</div>
                <div class=" tw-text-lg">{{dqm}}</div>
              </div>
              <div class=" tw-pt-2"><q-icon size="50px" name="analytics" /></div>
            </div>
            </q-card-section>
        </q-card>
      
    </div>
    <div>
      <q-card>
            <q-card-section class=" tw-bg-green-600 tw-text-white">
            <div class=" tw-flex tw-flex-row tw-justify-between">
              <div>
                <div class=" tw-mb-2 tw-font-medium tw-text-base">Proceessed</div>
                <div class=" tw-text-lg">{{processed}}</div>
              </div>
              <div class=" tw-pt-2"><q-icon size="50px" name="published_with_changes" /></div>
            </div>
            </q-card-section>
        </q-card>
    </div>
    <div class=" xs:tw-col-span-1 xl:tw-col-span-2"><q-card class="tw-h-98 tw-p-2"><IEcharts :option="sourceLevelChart" :resizable="true" /></q-card></div>
    <div class=" xs:tw-col-span-1 xl:tw-col-span-2"><q-card class="tw-h-98 tw-p-2"><IEcharts :option="fileLevel" :resizable="true" /></q-card></div>
</div>
</div>
</template>

<script>

import IEcharts from 'vue-echarts-v3/src/full.js'

export default {
  name: 'PageIndex',
  components:{IEcharts},
  data(){
    return {
      model:'TODAY',
      model1:'SOURCE LEVEL DATA',
      totalRecords:3670,
      hold:798,
      dqm:1196,
      processed:1676,
      fileData:[50,70,79],
      sourceLevelDataHold:[50,70,79,43,54,33],
      sourceLevelDataDqm:[100,140,158,91,108,66],
      sourceLevelDataProcessed:[200,280,316,182,216,132],
      fileLevelDataHold:[100,160,209],
      fileLevelDataDqm:[156,210,167],
      fileLevelDataProcessed:[99,130,121],
      options:['TODAY','LAST WEEK','LAST 15 DAYS','LAST 30 DAYS'],
      options1:['SOURCE LEVEL DATA','FILE LEVEL DATA']
    }
  },
  created(){
    
  },
  methods:{
    changeData(){
      if(this.model==this.options[0]){
        this.sourceLevelDataHold=[50,70,79,43,54,33]
        this.sourceLevelDataDqm=[100,140,158,91,108,66]
        this.sourceLevelDataProcessed=[200,280,316,182,216,132]
        this.fileLevelDataHold=[100,160,209]
        this.fileLevelDataDqm=[156,210,167]
        this.fileLevelDataProcessed=[99,130,121]
      }else if(this.model==this.options[1]){
        this.sourceLevelDataHold=[500,700,790,430,540,330]
        this.sourceLevelDataDqm=[1000,1400,1580,910,1080,660]
        this.sourceLevelDataProcessed=[2000,2800,3160,1820,2160,1320]
        this.fileLevelDataHold=[300,360,409]
        this.fileLevelDataDqm=[356,410,367]
        this.fileLevelDataProcessed=[299,330,321]
      }else if(this.model==this.options[2]){
        this.sourceLevelDataHold=[1000,1400,1580,860,1080,660]
        this.sourceLevelDataDqm=[2000,2800,3160,1820,2160,1320]
        this.sourceLevelDataProcessed=[4000,5600,6320,3640,4320,2640]
        this.fileLevelDataHold=[550,600,719]
        this.fileLevelDataDqm=[619,786,669]
        this.fileLevelDataProcessed=[486,921,541]
      }else if(this.model==this.options[3]){
        this.sourceLevelDataHold=[2000,2800,3160,1720,2160,1320]
        this.sourceLevelDataDqm=[4000,5600,6320,3640,4320,2640]
        this.sourceLevelDataProcessed=[8000,11200,12640,7280,8640,5280]
        this.fileLevelDataHold=[796,987,917]
        this.fileLevelDataDqm=[916,1024,1211]
        this.fileLevelDataProcessed=[786,1431,888]
      }
      let tr=0
      let hd=0
      let dq=0
      let pro=0
      for(let i=0;i<this.sourceLevelDataHold.length;i++){
          tr=tr+this.sourceLevelDataHold[i]+this.sourceLevelDataDqm[i]+this.sourceLevelDataProcessed[i]
          hd=hd+this.sourceLevelDataHold[i]
          dq=dq+this.sourceLevelDataDqm[i]
          pro=pro+this.sourceLevelDataProcessed[i]
      }
      for(let i=0;i<this.fileLevelDataHold.length;i++){
          tr=tr+this.fileLevelDataHold[i]+this.fileLevelDataDqm[i]+this.fileLevelDataProcessed[i]
          hd=hd+this.fileLevelDataHold[i]
          dq=dq+this.fileLevelDataDqm[i]
          pro=pro+this.fileLevelDataProcessed[i]
      }
      this.totalRecords=tr
      this.hold=hd
      this.dqm=dq
      this.processed=pro
    }
  },
  computed:{
    sourceLevelChart(){
      return {
         tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "shadow"
          }
        },
        title:{
          text:'Source Level Data',
        },
        xAxis: {
        type: 'category',
        data: ['SD','INS','VA','SHARP','EASE','SP']
        },
        yAxis: {
            type: 'value'
        },
        legend:{
          show:true,
          data:['HOLD','DQM','PROCESSED'],
          bottom:10
        },
        color:['#DC2626','#dd6b20','#059669'],
        series: [{
            name:'HOLD',
            data:this.sourceLevelDataHold,
            type: 'bar',
            stack:'record'
        },{
            name:'DQM',
            data:this.sourceLevelDataDqm,
            type: 'bar',
            stack:'record'
        },{
            name:'PROCESSED',
            data:this.sourceLevelDataProcessed,
            type: 'bar',
            stack:'record'
        }]
      }
    },
    fileLevel(){
      return {
         tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "shadow"
          }
        },
        title:{
          text:'File Level Data',
        },
        xAxis: {
        type: 'category',
        data: ['Sales','Inventory','Status']
        },
        yAxis: {
            type: 'value'
        },
        legend:{
          show:true,
          data:['HOLD','DQM','PROCESSED'],
          bottom:10
        },
        color:['#DC2626','#dd6b20','#059669'],
        series: [{
            name:'HOLD',
            stack:'file',
            data: this.fileLevelDataHold,
            type: 'bar'
        },{
          name:'DQM',
          stack:'file',
            data: this.fileLevelDataDqm,
            type: 'bar'
        },{
          name:'PROCESSED',
          stack:'file',
            data: this.fileLevelDataProcessed,
            type: 'bar'
        }]
      }
    },
  }
}
</script>
