<template>
    <div>
        <div class=" tw-grid tw-grid-cols-1 tw-gap-4">
            <div><q-card class=" tw-w-full tw-bg-blue-600 tw-font-medium tw-text-white"><q-card-section>DAILY UPDATES</q-card-section></q-card></div>
            <div>
                <q-table
                :data="data"
                :columns="column"
                title="File Details"
                class="my-sticky"
                hide-pagination
                :pagination.sync="pagination"
                :rows-per-page-options="[0]"
                :filter="filter"
                virtual-scroll
                >
                <template v-slot:top-right>
                    <q-input outlined borderless dense debounce="300" v-model="filter" placeholder="Search">
                    <template v-slot:append>
                        <q-icon name="search" />
                    </template>
                    </q-input>
                </template>
                <template v-slot:body-cell-Status="props">
                    <q-td :props="props">
                    <div>
                        <q-badge
                        :label="props.value"
                        :class="(props.value=='Completed')?' tw-bg-green-500':(props.value=='Failed')?' tw-bg-red-500':(props.value=='In Process')?' tw-bg-blue-500':'bg-white text-black'
                        "
                        ></q-badge>
                    </div>
                    </q-td>
                </template>
                </q-table>
            </div>
            <div>
                <q-card>
                <q-expansion-item
                    expand-separator
                    label="SD"
                >
                        <q-table
                         :data="sdData"
                         :columns="columns"
                         hide-pagination
                         class="my-sticky-dynamic"
                         :pagination.sync="pagination"
                        :rows-per-page-options="[0]"
                        virtual-scroll
                        >
                        <template v-slot:body-cell-days="props">
                            <q-td :props="props">
                                <div class=" tw-inline-block" v-for="(a,index) in props.value" :key="index">
                                    <q-icon v-if="a.date==''" name="check_box_outline_blank" size="22px" color="grey" />
                                            <q-icon v-else-if="a.status=='Completed'" name="today" size="22px" color="green">
                                            <q-tooltip>{{a.date}}</q-tooltip>
                                            </q-icon>
                                            <q-icon v-else-if="a.status=='In Process'" name="today" size="22px" color="blue">
                                            <q-tooltip>{{a.date}}</q-tooltip>
                                            </q-icon>
                                            <q-icon v-else-if="a.status=='Failed'" name="today" size="22px" color="red">
                                            <q-tooltip>{{a.date}}</q-tooltip>
                                            </q-icon>
                                </div>
                            </q-td>
                        </template>
                        </q-table>
                </q-expansion-item>
                </q-card>
            </div>
            <div>
                <q-card>
                <q-expansion-item
                    expand-separator
                    label="INS"
                >
                    <q-table
                         :data="insData"
                         hide-pagination
                         :columns="columns"
                         class="my-sticky-dynamic"
                         :pagination.sync="pagination"
                        :rows-per-page-options="[0]"
                        virtual-scroll
                        >
                        <template v-slot:body-cell-days="props">
                            <q-td :props="props">
                                <div class=" tw-inline-block" v-for="(a,index) in props.value" :key="index">
                                    <q-icon v-if="a.date==''" name="check_box_outline_blank" size="22px" color="grey" />
                                            <q-icon v-else-if="a.status=='Completed'" name="today" size="22px" color="green">
                                            <q-tooltip>{{a.date}}</q-tooltip>
                                            </q-icon>
                                            <q-icon v-else-if="a.status=='In Process'" name="today" size="22px" color="blue">
                                            <q-tooltip>{{a.date}}</q-tooltip>
                                            </q-icon>
                                            <q-icon v-else-if="a.status=='Failed'" name="today" size="22px" color="red">
                                            <q-tooltip>{{a.date}}</q-tooltip>
                                            </q-icon>
                                </div>
                            </q-td>
                        </template>
                        </q-table>   
                </q-expansion-item></q-card>
            </div><div>
                <q-card>
                <q-expansion-item
                    expand-separator
                    label="VA"
                >
                    <q-table
                         :data="vaData"
                         hide-pagination
                         :columns="columns"
                         class="my-sticky-dynamic"
                         :pagination.sync="pagination"
                        :rows-per-page-options="[0]"
                        virtual-scroll
                        >
                        <template v-slot:body-cell-days="props">
                            <q-td :props="props">
                                <div class=" tw-inline-block" v-for="(a,index) in props.value" :key="index">
                                    <q-icon v-if="a.date==''" name="check_box_outline_blank" size="22px" color="grey" />
                                            <q-icon v-else-if="a.status=='Completed'" name="today" size="22px" color="green">
                                            <q-tooltip>{{a.date}}</q-tooltip>
                                            </q-icon>
                                            <q-icon v-else-if="a.status=='In Process'" name="today" size="22px" color="blue">
                                            <q-tooltip>{{a.date}}</q-tooltip>
                                            </q-icon>
                                            <q-icon v-else-if="a.status=='Failed'" name="today" size="22px" color="red">
                                            <q-tooltip>{{a.date}}</q-tooltip>
                                            </q-icon>
                                </div>
                            </q-td>
                        </template>
                        </q-table>
                </q-expansion-item></q-card>
            </div>
            <div>
                <q-card>
                <q-expansion-item
                    expand-separator
                    label="SHARP"
                >
                    <q-table
                         :data="shaData"
                         hide-pagination
                         :columns="columns"
                         class="my-sticky-dynamic"
                         :pagination.sync="pagination"
                        :rows-per-page-options="[0]"
                        virtual-scroll
                        >
                        <template v-slot:body-cell-days="props">
                            <q-td :props="props">
                                <div class=" tw-inline-block" v-for="(a,index) in props.value" :key="index">
                                    <q-icon v-if="a.date==''" name="check_box_outline_blank" size="22px" color="grey" />
                                            <q-icon v-else-if="a.status=='Completed'" name="today" size="22px" color="green">
                                            <q-tooltip>{{a.date}}</q-tooltip>
                                            </q-icon>
                                            <q-icon v-else-if="a.status=='In Process'" name="today" size="22px" color="blue">
                                            <q-tooltip>{{a.date}}</q-tooltip>
                                            </q-icon>
                                            <q-icon v-else-if="a.status=='Failed'" name="today" size="22px" color="red">
                                            <q-tooltip>{{a.date}}</q-tooltip>
                                            </q-icon>
                                </div>
                            </q-td>
                        </template>
                        </q-table>
                </q-expansion-item></q-card>
            </div>
            <div>
                <q-card>
                <q-expansion-item
                    expand-separator
                    label="EASE"
                >
                    <q-table
                         :data="easeData"
                         hide-pagination
                         :columns="columns"
                         class="my-sticky-dynamic"
                         :pagination.sync="pagination"
                        :rows-per-page-options="[0]"
                        virtual-scroll
                        >
                        <template v-slot:body-cell-days="props">
                            <q-td :props="props">
                                <div class=" tw-inline-block" v-for="(a,index) in props.value" :key="index">
                                    <q-icon v-if="a.date==''" name="check_box_outline_blank" size="22px" color="grey" />
                                            <q-icon v-else-if="a.status=='Completed'" name="today" size="22px" color="green">
                                            <q-tooltip>{{a.date}}</q-tooltip>
                                            </q-icon>
                                            <q-icon v-else-if="a.status=='In Process'" name="today" size="22px" color="blue">
                                            <q-tooltip>{{a.date}}</q-tooltip>
                                            </q-icon>
                                            <q-icon v-else-if="a.status=='Failed'" name="today" size="22px" color="red">
                                            <q-tooltip>{{a.date}}</q-tooltip>
                                            </q-icon>
                                </div>
                            </q-td>
                        </template>
                        </q-table>
                </q-expansion-item></q-card>
            </div>
            <div>
                <q-card>
                <q-expansion-item
                    expand-separator
                    label="SP"
                >
                    <q-table
                         :data="spData"
                         hide-pagination
                         :columns="columns"
                         class="my-sticky-dynamic"
                         :pagination.sync="pagination"
                        :rows-per-page-options="[0]"
                        virtual-scroll
                        >
                        <template v-slot:body-cell-days="props">
                            <q-td :props="props">
                                <div class=" tw-inline-block" v-for="(a,index) in props.value" :key="index">
                                    <q-icon v-if="a.date==''" name="check_box_outline_blank" size="22px" color="grey" />
                                            <q-icon v-else-if="a.status=='Completed'" name="today" size="22px" color="green">
                                            <q-tooltip>{{a.date}}</q-tooltip>
                                            </q-icon>
                                            <q-icon v-else-if="a.status=='In Process'" name="today" size="22px" color="blue">
                                            <q-tooltip>{{a.date}}</q-tooltip>
                                            </q-icon>
                                            <q-icon v-else-if="a.status=='Failed'" name="today" size="22px" color="red">
                                            <q-tooltip>{{a.date}}</q-tooltip>
                                            </q-icon>
                                </div>
                            </q-td>
                        </template>
                        </q-table>
                </q-expansion-item></q-card>
            </div>
        </div>
    </div>
</template>

<script>

import dailyUpdate from 'assets/dailyUpdate.json'
import track from 'assets/tracking.json'

export default {
    name:'inputTracking',
    data(){
        return{
            filter: '',
            spData:[],
            sdData:[],
            vaData:[],
            easeData:[],
            shaData:[],
            insData:[],
            data:dailyUpdate,
            sourceData:track,
            column:[{name:'Input Names',align:'left',field:'Input Names',label:'Input Names'},
            {name:'File Name',align:'left',field:'File Name',label:'File Name'},{name:'Arrived At',align:'left',field:'Arrived At',label:'Arrived At'},
            {name:'Processed At',align:'left',field:'Processed At',label:'Processed At'},{name:'Status',align:'left',field:'Status',label:'Status'}],
            pagination: {
                rowsPerPage: 0
            },
            columns:[
                {name:'source_nm',label:'SOURCE_NM',align:'left',field:'source_nm'},
                {name:'content_type',label:'CONTENT_TYPE',align:'left',field:'content_type'},
                {name:'suffix',label:'SUFFIX',align:'left',field:'suffix'},
                {name:'days',label:'DAYS',align:'center',field:'days'},
            ]
        }
    },
    created(){
        for(let i=0;i<this.sourceData.length;i++){
            let a={}
            if(this.sourceData[i].source_type=="SD"){
                a["source_nm"]=this.sourceData[i].source_nm
                a["content_type"]=this.sourceData[i].content_type
                a["suffix"]=this.sourceData[i].suffix
                let k=0
                let d=[]
                for(let j=1;j<=30;j++){
                    let e={}
                    if(k<this.sourceData[i].days.length  && j==parseInt(this.sourceData[i].days[k].date.split('/')[0])){
                            e["date"]=this.sourceData[i].days[k].date
                            e["status"]=this.sourceData[i].days[k].status
                            d.push(e)
                            k=k+1
                    }else{
                        e["date"]=''
                            e["status"]=''
                            d.push(e)
                    }

                }
                a["days"]=d
                this.sdData.push(a)
            }else if(this.sourceData[i].source_type=="INS"){
                a["source_nm"]=this.sourceData[i].source_nm
                a["content_type"]=this.sourceData[i].content_type
                a["suffix"]=this.sourceData[i].suffix
                let k=0
                let d=[]
                for(let j=1;j<=30;j++){
                    let e={}
                    if(k<this.sourceData[i].days.length  && j==parseInt(this.sourceData[i].days[k].date.split('/')[0])){
                            e["date"]=this.sourceData[i].days[k].date
                            e["status"]=this.sourceData[i].days[k].status
                            d.push(e)
                            k=k+1
                    }else{
                        e["date"]=''
                            e["status"]=''
                            d.push(e)
                    }

                }
                a["days"]=d
                this.insData.push(a)
            }else if(this.sourceData[i].source_type=="VA"){
                a["source_nm"]=this.sourceData[i].source_nm
                a["content_type"]=this.sourceData[i].content_type
                a["suffix"]=this.sourceData[i].suffix
                let k=0
                let d=[]
                for(let j=1;j<=30;j++){
                    let e={}
                    if(k<this.sourceData[i].days.length  && j==parseInt(this.sourceData[i].days[k].date.split('/')[0])){
                            e["date"]=this.sourceData[i].days[k].date
                            e["status"]=this.sourceData[i].days[k].status
                            d.push(e)
                            k=k+1
                    }else{
                        e["date"]=''
                            e["status"]=''
                            d.push(e)
                    }

                }
                a["days"]=d
                this.vaData.push(a)
            }else if(this.sourceData[i].source_type=="SHA"){
                a["source_nm"]=this.sourceData[i].source_nm
                a["content_type"]=this.sourceData[i].content_type
                a["suffix"]=this.sourceData[i].suffix
                let k=0
                let d=[]
                for(let j=1;j<=30;j++){
                    let e={}
                    if(k<this.sourceData[i].days.length  && j==parseInt(this.sourceData[i].days[k].date.split('/')[0])){
                            e["date"]=this.sourceData[i].days[k].date
                            e["status"]=this.sourceData[i].days[k].status
                            d.push(e)
                            k=k+1
                    }else{
                        e["date"]=''
                            e["status"]=''
                            d.push(e)
                    }

                }
                a["days"]=d
                this.shaData.push(a)
            }else if(this.sourceData[i].source_type=="EASE"){
                a["source_nm"]=this.sourceData[i].source_nm
                a["content_type"]=this.sourceData[i].content_type
                a["suffix"]=this.sourceData[i].suffix
                let k=0
                let d=[]
                for(let j=1;j<=30;j++){
                    let e={}
                    if(k<this.sourceData[i].days.length  && j==parseInt(this.sourceData[i].days[k].date.split('/')[0])){
                            e["date"]=this.sourceData[i].days[k].date
                            e["status"]=this.sourceData[i].days[k].status
                            d.push(e)
                            k=k+1
                    }else{
                        e["date"]=''
                            e["status"]=''
                            d.push(e)
                    }

                }
                a["days"]=d
                this.easeData.push(a)
            }else if(this.sourceData[i].source_type=="SP"){
                a["source_nm"]=this.sourceData[i].source_nm
                a["content_type"]=this.sourceData[i].content_type
                a["suffix"]=this.sourceData[i].suffix
                let k=0
                let d=[]
                for(let j=1;j<=30;j++){
                    let e={}
                    if(k<this.sourceData[i].days.length  && j==parseInt(this.sourceData[i].days[k].date.split('/')[0])){
                            e["date"]=this.sourceData[i].days[k].date
                            e["status"]=this.sourceData[i].days[k].status
                            d.push(e)
                            k=k+1
                    }else{
                        e["date"]=''
                            e["status"]=''
                            d.push(e)
                    }

                }
                a["days"]=d
                this.spData.push(a)
            }
        }
        
    }
}
</script>


<style lang="sass">
.my-sticky-dynamic
  height: 200px

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th /* bg color is important for th; just specify one */
    background-color: #fff

  thead tr th
    position: sticky
    z-index: 1

  thead tr:last-child th
    top: 48px
  thead tr:first-child th
    top: 0

.my-sticky
  height: 350px

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th /* bg color is important for th; just specify one */
    background-color: #fff

  thead tr th
    position: sticky
    z-index: 1

  thead tr:last-child th
    top: 48px
  thead tr:first-child th
    top: 0

</style>