<template>
    <div>
        <q-card class=" tw-w-full tw-bg-blue-600 tw-font-medium tw-text-white tw-mb-4"><q-card-section>MDM REVIEW</q-card-section></q-card>
        <q-card>
        <q-tabs
          v-model="tab"
          class="text-grey"
          active-color="primary"
          indicator-color="primary"
          align="justify"
        >
          <q-tab name="accounts" label="Accounts" />
          <q-tab name="physicians" label="Physicians" />
        </q-tabs>

        <q-separator />

        <q-tab-panels v-model="tab" animated>
          <q-tab-panel name="accounts">
            <div class=" tw-flex xs:tw-flex-col md:tw-flex-row tw-mb-4">
                
            <div>
                    <q-select
                    outlined
                    v-model="model"
                    label="Source Type"
                    @input="changeData()"
                    class="tw-bg-white xs:tw-w-full md:tw-w-32 xs:tw-mb-3 md:tw-mb-0 xl:tw-w-64 tw-mr-4"
                    :options="sourceType"
                    dense
                    />
            </div>
            <div><q-select
                    outlined
                    label="Hold Status"
                    v-model="modelStat"
                    @input="changeData()"
                    class="tw-bg-white xs:tw-w-full md:tw-w-32 xl:tw-w-64 xs:tw-mb-3 md:tw-mb-0 tw-mr-4"
                    :options="holdStatus"
                    dense
                    /></div>
            <div><q-select
                    outlined
                    dense
                    label="Hold Key"
                    v-model="modelKey"
                    @input="changeData()"
                    class="tw-bg-white xs:tw-w-full md:tw-w-32 xl:tw-w-98 tw-mr-4"
                    :options="holdKey"
                    /></div>
        </div>
        <q-table
             :data="accountData"
             :columns="column"
             flat
             class="my-sticky-dynamic"
             :class="this.accountData.length==0?' tw-h-32':' tw-h-99'"
             hide-pagination
             @row-click="rev"
             :pagination.sync="pagination"
             :rows-per-page-options="[0]"
             virtual-scroll
            >
                <template v-slot:body-cell-Source_Type="props">
                    <q-td :props="props" class=" tw-uppercase">
                        {{props.value}}
                    </q-td>
                </template>
                <template v-slot:body-cell-Hold_Status="props">
                    <q-td :props="props" class=" tw-capitalize">
                        {{props.value}}
                    </q-td>
                </template>
            </q-table>
          </q-tab-panel>

          <q-tab-panel name="physicians">
            <div class=" tw-flex xs:tw-flex-col md:tw-flex-row tw-mb-4">
                <div>
                        <q-select
                        outlined
                        label="Source Type"
                        v-model="model1"
                        @input="changeData1()"
                        class="tw-bg-white xs:tw-w-full md:tw-w-32 xl:tw-w-64 xs:tw-mb-3 md:tw-mb-0 tw-mr-4"
                        :options="sourceType"
                        dense
                        />
                </div>
                <div><q-select
                        outlined
                        label="Hold Status"
                        v-model="modelStat1"
                        @input="changeData1()"
                        class="tw-bg-white xs:tw-w-full md:tw-w-32 xl:tw-w-64 xs:tw-mb-3 md:tw-mb-0 tw-mr-4"
                        :options="holdStatus"
                        dense
                        /></div>
                <div><q-select
                        outlined
                        dense
                        label="Hold Key"
                        v-model="modelKey1"
                        @input="changeData1()"
                        class="tw-bg-white xs:tw-w-full md:tw-w-32 xl:tw-w-98 tw-mr-4"
                        :options="holdKey1"
                        /></div>
            </div>
            <q-table
            flat
            :data="physicianData"
            :columns="column"
            class="my-sticky-dynamic"
            :class="this.physicianData.length==0?' tw-h-32':' tw-h-99'"
            :pagination.sync="pagination"
             :rows-per-page-options="[0]"
             @row-click="rev"
            hide-pagination
            virtual-scroll
            >
            <template v-slot:body-cell-Source_Type="props">
                    <q-td :props="props" class=" tw-uppercase">
                        {{props.value}}
                    </q-td>
                </template>
                <template v-slot:body-cell-Hold_Status="props">
                    <q-td :props="props" class=" tw-capitalize">
                        {{props.value}}
                    </q-td>
                </template>
            </q-table>
          </q-tab-panel>
        </q-tab-panels>
      </q-card>
    </div>
</template>

<script>

import dailyUpdate from 'assets/dailyUpdate.json'
import mdmData from 'assets/contentType.json'

export default {
    name:'mdm',
    data(){
        return {
            tab: 'accounts',
            mdm:mdmData,
            accountData:[],
            allAData:[],
            allPData:[],
            physicianData:[],
            model:'ALL',
            model1:'ALL',
            sourceType:['ALL','SD','SP','SHA','VA','INS','EASE'],
            modelKey:'',
            modelKey1:'',
            holdKey:[],
            holdKey1:[],
            modelStat:'REVIEW',
            modelStat1:'REVIEW',
            holdStatus:['REVIEW','WAITING FOR CONFIRMATION'],
            holdStatus1:[],
            data:dailyUpdate,
            pagination: {
                rowsPerPage: 0
            },
            column:[
                {
                    name:'Source_Type',
                    align:'left',
                    label:'Source Type',
                    field:'Source_Type'
                },{
                    name:'Hold Key',
                    align:'left',
                    label:'Hold Key',
                    field:'Hold Key'
                },{
                    name:'Hold_Status',
                    align:'left',
                    label:'Hold Status',
                    field:'Hold_Status'
                },{
                    name:'Address Line 1',
                    align:'left',
                    label:'Address Line 1',
                    field:'Address Line 1'
                },{
                    name:'Address Line 2',
                    align:'left',
                    label:'Address Line 2',
                    field:'Address Line 2'
                },{
                    name:'City',
                    align:'left',
                    label:'City',
                    field:'City'
                },{
                    name:'State',
                    align:'left',
                    label:'State',
                    field:'State'
                },{
                    name:'Zip',
                    align:'left',
                    label:'Zip',
                    field:'Zip'
                },{
                    name:'Territory ID',
                    align:'left',
                    label:'Territory ID',
                    field:'Territory ID'
                },{
                    name:'Territory Name',
                    align:'left',
                    label:'Territory Name',
                    field:'Territory Name'
                },{
                    name:'Customer_Sk',
                    align:'left',
                    label:'Customer Sk',
                    field:'Customer_Sk'
                },{
                    name:'Source_ID',
                    align:'left',
                    label:'Source_ID',
                    field:'Source_ID'
                },{
                    name:'Inserted Date',
                    align:'left',
                    label:'Inserted Date',
                    field:'Inserted Date'
                },{
                    name:'First Name',
                    align:'left',
                    label:'First Name',
                    field:'First Name'
                },{
                    name:'Middle Name',
                    align:'left',
                    label:'Middle Name',
                    field:'Middle Name'
                },{
                    name:'Last Name',
                    align:'left',
                    label:'Last Name',
                    field:'Last Name'
                },{
                    name:'NPI',
                    align:'left',
                    label:'NPI',
                    field:'NPI'
                },{
                    name:'State License',
                    align:'left',
                    label:'State License',
                    field:'State License'
                },{
                    name:'MDM ID',
                    align:'left',
                    label:'MDM ID',
                    field:'MDM ID'
                }
            ]
        }
    },
    methods:{
        rev(evt,row){
            let routeData=this.$router.resolve({name:'review',params:{id:row.Customer_Sk}})
            window.open(routeData.href, '_blank')
        },
        changeData(){
            if(this.model=='ALL' && this.modelKey!='ALL' ){
                this.accountData=this.allAData.filter(e=>e["Hold Key"]==this.modelKey && e.Hold_Status==this.modelStat.toLowerCase())
            }else if(this.model!='ALL' && this.modelKey=='ALL' ){
                this.accountData=this.allAData.filter(e=>e.Source_Type==this.model.toLowerCase() && e.Hold_Status==this.modelStat.toLowerCase())
            }else if(this.model!='ALL' && this.modelKey!='ALL'){
               this.accountData=this.allAData.filter(e=>e.Source_Type==this.model.toLowerCase() && e["Hold Key"]==this.modelKey && e.Hold_Status==this.modelStat.toLowerCase())
            }else if(this.model=='ALL' && this.modelKey=='ALL'){
               this.accountData=this.allAData.filter(e=>e.Hold_Status==this.modelStat.toLowerCase())
            }
        },
        changeData1(){
            if(this.model1=='ALL' && this.modelKey1!='ALL' ){
                this.physicianData=this.allPData.filter(e=>e["Hold Key"]==this.modelKey1 && e.Hold_Status==this.modelStat1.toLowerCase())
            }else if(this.model1!='ALL' && this.modelKey1=='ALL' ){
                this.physicianData=this.allPData.filter(e=>e.Source_Type==this.model1.toLowerCase() && e.Hold_Status==this.modelStat1.toLowerCase())
            }else if(this.model1!='ALL' && this.modelKey1!='ALL'){
               this.physicianData=this.allPData.filter(e=>e.Source_Type==this.model1.toLowerCase() && e["Hold Key"]==this.modelKey1 && e.Hold_Status==this.modelStat1.toLowerCase())
            }else if(this.model1=='ALL' && this.modelKey1=='ALL'){
               this.physicianData=this.allPData.filter(e=>e.Hold_Status==this.modelStat1.toLowerCase())
            }
        }
    },
    created(){
        this.holdKey.push("ALL")
        this.holdKey1.push("ALL")
        for(let j=0;j<this.mdm.length;j++){
            if(this.mdm[j]["Content Type"]=="Physicians"){
                this.holdKey1.push(this.mdm[j]["Hold Key"])
            }else if(this.mdm[j]["Content Type"]=="Accounts"){
                this.holdKey.push(this.mdm[j]["Hold Key"])
            }
        }
        this.modelKey=this.holdKey[0]
        this.modelKey1=this.holdKey1[0]
        for(let i=0;i<this.mdm.length;i++){
            if(this.mdm[i]["Content Type"]=="Physicians"){
                this.allPData.push(this.mdm[i])
                if(this.mdm[i].Hold_Status=="review"){
                    this.physicianData.push(this.mdm[i])
                }
            }else if(this.mdm[i]["Content Type"]=="Accounts"){
                this.allAData.push(this.mdm[i])
                if(this.mdm[i].Hold_Status=="review"){
                    this.accountData.push(this.mdm[i])
                }
            }
        }
    }
    
}
</script>

<style lang="sass">
.my-sticky-dynamic

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th /* bg color is important for th; just specify one */
    background-color: #fff

  thead tr th
    position: sticky
    z-index: 1

  thead tr:last-child th
    top: 48px
  thead tr:first-child th
    top: 0

</style>