<template>
<div>
    <div><q-card class=" tw-w-full tw-bg-blue-600 tw-font-medium tw-text-white"><q-card-section>MDM REVIEW</q-card-section></q-card></div>
    <div>
            <q-card class=" tw-mt-2 tw-bg-blue-800 tw-h-24 tw-text-white tw-mb-3">
                <q-card-section>
                    <div class="xs:tw-text-sm md:tw-text-base xs:tw-mb-1 md:tw-mb-2 tw-font-medium">HOLD KEY  :  <span class=" xs:tw-text-xxs md:tw-text-base tw-font-medium">{{holdKey}}</span></div>
                    <q-separator class=" tw-bg-white"/>
                    <div class=" xs:tw-mt-1 md:tw-mt-3 tw-text-sm ">Customer SK : {{customer_sk}}<span class=" tw-float-right">Source ID : {{source_id}}</span></div>
                </q-card-section>
            </q-card>
    </div>
    <q-stepper
      v-model="step"
      ref="stepper"
      color="primary"
      animated
    >
      <q-step
        :name="1"
        title="Primary Details"
        icon="manage_accounts"
        :done="step > 1"
      >
                <div class=" tw-text-lg tw-font-medium">CUSTOMER INFORMATION</div>
            <q-form class=" tw-mt-8">
                <div class=" tw-grid tw-grid-cols-3 tw-gap-4 xs:tw-w-full md:tw-w-1/2">
                <div class=" xs:tw-col-span-3 xs:tw-col-start-1 md:tw-col-start-2 md:tw-col-span-2 tw-text-base xs:tw-font-medium md:tw-font-normal">INCOMING</div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 tw-pt-2">First Name *</div><div class=" tw-col-span-2"><q-input disable readonly v-model="fname" dense outlined /></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 tw-pt-2">Middle Name</div><div class=" tw-col-span-2"><q-input disable readonly v-model="mname" dense outlined /></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 tw-pt-2">Last Name *</div><div class=" tw-col-span-2"><q-input disable readonly v-model="lname" dense outlined /></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 tw-pt-2">Source Type *</div><div class=" tw-col-span-2  tw-uppercase"><q-input disable readonly v-model="stype" dense outlined /></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 tw-pt-2">Source Name *</div><div class=" tw-col-span-2"><q-input disable readonly v-model="sname" dense outlined /></div>
                <div class=" tw-col-span-3 tw-text-base tw-font-medium tw-my-5 ">ADDRESS INFORMATION</div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 tw-pt-2">Address Line 1 *</div><div class=" tw-col-span-2"><q-input disable readonly v-model="addr1" dense outlined /></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 tw-pt-2">Address Line 2</div><div class=" tw-col-span-2 "><q-input disable readonly v-model="addr2" dense outlined /></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 tw-pt-2">City *</div><div class=" tw-col-span-2"><q-input disable readonly v-model="city" dense outlined/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 tw-pt-2">State *</div><div class=" tw-col-span-2"><q-input disable readonly v-model="state" dense outlined /></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 tw-pt-2">Zip *</div><div class=" tw-col-span-2 "><q-input disable readonly v-model="zip" dense outlined/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 tw-pt-2">Territory ID *</div><div class=" tw-col-span-2"><q-input disable readonly v-model="tid" dense outlined /></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 tw-pt-2">Territory Name *</div><div class=" tw-col-span-2"><q-input disable readonly v-model="tname" dense outlined/></div>
                <div class=" tw-text-base tw-font-medium tw-mb-3 tw-col-span-3">ADDITIONAL INFORMATION</div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5  tw-pt-2">NPI</div><div class=" tw-col-span-2"><q-input disable readonly v-model="npi" dense outlined/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5  tw-pt-2">State License</div><div class=" tw-col-span-2"><q-input disable readonly v-model="slicense" dense outlined/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5  tw-pt-2">Speciality Description</div><div class=" tw-col-span-2"><q-input disable readonly v-model="sd" dense outlined/></div>
            </div>

            <div class=" tw-flex xs:tw-flex-col md:tw-flex-row tw-justify-end tw-mt-8">
                <div class=" xs:tw-pr-0 md:tw-pr-4 xs:tw-mb-2 md:tw-mb-0"><q-btn class=" xs:tw-w-full md:tw-w-auto" :disable="disab" color="blue" @click="openEx()" label="ASSIGN MATCHING MDM ID"/></div>
                <div class="xs:tw-pr-0 md:tw-pr-4 xs:tw-mb-2"><q-btn class=" xs:tw-w-full md:tw-w-auto" :disable="disab1" @click="newMdm()" color="blue" label="ASSIGN NEW MDM ID"/></div>
                <div class=""><q-btn class=" xs:tw-w-full md:tw-w-auto" :disable="disab2" @click="assign()" color="blue" label="ASSIGN NON MATCHING ID"/></div>
            </div>
            </q-form>
        <div v-if="showw" class=" tw-mt-3">
                    <q-table flat :data="idData" :columns="col" :title="'ID - '+this.mdmID" title-class=" xs:tw-text-lg md:tw-text-xl tw-font-medium" hide-pagination>
                        <template v-slot:top-right>
                            <q-btn label="ASSIGN" @click="top()" icon="assignment_ind" color="green"/>
                        </template>
                    </q-table>
        </div>
        <div v-if="assignID">
            <div class=" tw-grid tw-grid-cols-3 xs:tw-w-full md:tw-w-1/2 tw-gap-2 tw-mt-8">
                <div class="xs:tw-pl-1 md:tw-pl-5 tw-pt-2">MDM ID *</div>
                <div class=" tw-col-span-2"><q-input label="TYPE MDM ID HERE" type="number" dense outlined v-model="assignMDM" :rules="[ val => val && val.length > 0 || 'Please type something',val => val.length==9 || 'Please type a valid MDM ID']"><template v-slot:append><q-icon name="edit" /></template></q-input></div>
            </div>
            <div class=" tw-float-right tw-mb-4"><q-btn color="green" icon="assignment_turned_in" @click="top1()" label="ASSIGN MDM ID"/></div>
        </div>
      </q-step>

      <q-step
        :name="2"
        title="Secondary Details"
        icon="switch_account"
        :done="step > 2"
      >
                <div class=" tw-text-lg tw-font-medium">CUSTOMER INFORMATION</div>
            <q-form v-if="$q.screen.gt.sm" class=" tw-mt-8">
            <div class=" tw-grid tw-grid-cols-7 tw-gap-4">
                <div class=" tw-col-span-1"></div>
                <div class=" tw-col-span-2">INCOMING</div>
                <div class=" tw-col-span-2">GOLDEN</div>
                <div class=" tw-col-span-2">UPDATED</div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5  tw-pt-2">First Name *</div><div class=" tw-col-span-2"><q-input disable v-model="fname" dense outlined readonly/></div><div class=" tw-col-span-2"><q-input disable v-model="fname1" dense outlined readonly/></div><div class=" tw-col-span-2"><q-input v-model="ufname" type="text" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 ">Middle Name</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable v-model="mname" dense outlined readonly/></div><div class=" tw-col-span-2 tw--mt-3"><q-input disable v-model="mname1" dense outlined readonly/></div><div class=" tw-col-span-2 tw--mt-3"><q-input v-model="umname" type="text" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5  tw-pt-4">Last Name *</div><div class=" tw-col-span-2 tw-mt-2"><q-input disable v-model="lname" dense outlined readonly/></div><div class=" tw-col-span-2 tw-mt-2"><q-input disable v-model="lname1" dense outlined readonly/></div><div class=" tw-col-span-2 tw-mt-2"><q-input v-model="ulname" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 ">Source Type *</div><div class=" tw-col-span-2 tw--mt-3 tw-uppercase"><q-input disable v-model="stype" dense outlined readonly/></div><div class=" tw-col-span-2 tw--mt-3 tw-uppercase"><q-input disable dense v-model="stype1" outlined readonly/></div><div class=" tw-col-span-2 tw--mt-3 tw-uppercase"><q-input disable v-model="stype" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']" readonly dense outlined/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 ">Source Name *</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable v-model="sname" dense readonly outlined/></div><div class=" tw-col-span-2 tw--mt-3"><q-input disable dense v-model="sname1" readonly outlined/></div><div class=" tw-col-span-2 tw--mt-3"><q-input disable v-model="sname" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']" readonly dense outlined/></div>
                <div class=" tw-text-base tw-font-medium tw-mb-3 tw-col-span-7">ADDRESS INFORMATION</div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5  tw-pt-2">Address Line 1 *</div><div class=" tw-col-span-2"><q-input disable v-model="addr1" readonly dense outlined/></div><div class=" tw-col-span-2"><q-input disable v-model="addr11" readonly dense outlined/></div><div class=" tw-col-span-2"><q-input v-model="uaddr1"  lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 ">Address Line 2</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable v-model="addr2" readonly dense outlined/></div><div class=" tw-col-span-2 tw--mt-3"><q-input disable v-model="addr21" readonly dense outlined/></div><div class=" tw-col-span-2 tw--mt-3"><q-input v-model="uaddr2" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5  tw-pt-4">City *</div><div class=" tw-col-span-2 tw-mt-2"><q-input disable v-model="city" readonly dense outlined/></div><div class=" tw-col-span-2 tw-mt-2"><q-input disable v-model="city1" readonly dense outlined/></div><div class=" tw-col-span-2 tw-mt-2"><q-input v-model="ucity" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5">State *</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable v-model="state" readonly dense outlined/></div><div class=" tw-col-span-2 tw--mt-3"><q-input disable v-model="state1" readonly dense outlined/></div><div class=" tw-col-span-2 tw--mt-3"><q-input v-model="ustate" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5">Zip *</div><div class="tw-col-span-2 tw--mt-3"><q-input disable v-model="zip" readonly dense outlined/></div><div class=" tw-col-span-2 tw--mt-3"><q-input disable v-model="zip1" readonly dense outlined/></div><div class=" tw-col-span-2 tw--mt-3"><q-input v-model="uzip" :rules="[
          val => val !== null && val !== '' || 'Please type the Zip code',
        ]" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5">Territory ID *</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable v-model="tid" readonly dense outlined/></div><div class=" tw-col-span-2 tw--mt-3"><q-input disable v-model="tid1" readonly dense outlined/></div><div class=" tw-col-span-2 tw--mt-3"><q-input v-model="utid" :rules="[
          val => val !== null && val !== '' || 'Please type the Territory ID',
          val => val.length==6 || 'Please type a valid Territory ID'
        ]" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 ">Territory Name *</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable v-model="tname" readonly dense outlined/></div><div class=" tw-col-span-2 tw--mt-3"><q-input disable v-model="tname1" readonly dense outlined/></div><div class=" tw-col-span-2 tw--mt-3"><q-input v-model="utname" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-text-base tw-font-medium tw-my-5 tw-col-span-7">ADDITIONAL INFORMATION</div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5  tw-pt-2">NPI</div><div class=" tw-col-span-2"><q-input disable v-model="npi" readonly dense outlined/></div><div class=" tw-col-span-2"><q-input disable v-model="npi1" readonly dense outlined/></div><div class=" tw-col-span-2"><q-input v-model="unpi" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 tw-pt-2">State License</div><div class=" tw-col-span-2"><q-input disable v-model="slicense" readonly dense outlined/></div><div class=" tw-col-span-2"><q-input disable v-model="slicense1" readonly dense outlined/></div><div class=" tw-col-span-2"><q-input v-model="uslicense" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left  xs:tw-pl-1 md:tw-pl-5  tw-pt-2">Speciality Description</div><div class=" tw-col-span-2"><q-input disable v-model="sd" readonly dense outlined/></div><div class=" tw-col-span-2"><q-input disable v-model="sd1" readonly dense outlined/></div><div class=" tw-col-span-2"><q-input v-model="usd" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-text-base tw-font-medium tw-mt-4 tw-col-span-7">COMMENTS</div>
                <div class=" tw-col-span-7"><q-input type="textarea" outlined v-model="comments" placeholder="Type Comments here...."/></div>
            </div>
            <div class=" tw-flex tw-flex-row tw-justify-between tw-mt-8">
                <div><q-btn @click="back()" color="blue" icon="undo" label="BACK"/></div>
                <div><q-btn @click="save()" color="green" icon="save" label="SAVE"/></div>
                <q-dialog v-model="confirm" persistent>
                <q-card>
                    <q-card-section class="row items-center">
                    <q-icon size="30px" name="warning" color="red" text-color="white" />
                    <span class="q-ml-md">Are you sure you want to save the changes ?</span>
                    </q-card-section>

                    <q-card-actions align="right">
                    <q-btn flat label="No" color="primary" v-close-popup />
                    <q-btn flat @click="notify()" label="Yes" color="primary" v-close-popup />
                    </q-card-actions>
                </q-card>
                </q-dialog>
            </div>
            </q-form>
            <q-form v-else class=" tw-mt-8">
            <div class=" tw-grid tw-grid-cols-3 tw-gap-4">
                <div class=" tw-col-span-3 tw-text-base tw-font-medium">INCOMING</div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 tw-pt-2">First Name *</div><div class=" tw-col-span-2"><q-input disable readonly v-model="fname" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5">Middle Name</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable readonly v-model="mname" dense outlined/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 tw-pt-4">Last Name *</div><div class=" tw-col-span-2 tw-mt-2"><q-input disable readonly v-model="lname" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 ">Source Type *</div><div class=" tw-col-span-2 tw--mt-3 tw-uppercase"><q-input disable readonly v-model="stype" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type Source Name here']"/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 ">Source Name *</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable readonly v-model="sname" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"/></div>
                <div class=" tw-col-span-3 tw-text-sm tw-font-medium tw-my-3 ">ADDRESS INFORMATION</div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 tw-pt-2">Address Line 1 *</div><div class=" tw-col-span-2"><q-input disable readonly v-model="addr1" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type your address']"/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 ">Address Line 2</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable readonly v-model="addr2" dense outlined/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 tw-pt-4">City *</div><div class=" tw-col-span-2 tw-mt-2"><q-input disable readonly v-model="city" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type your city']"/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 ">State *</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable readonly v-model="state" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type your state']"/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 ">Zip *</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable readonly v-model="zip" lazy-rules
        :rules="[
          val => val !== null && val !== '' || 'Please type the Zip code'
        ]" dense outlined/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5">Territory ID *</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable readonly v-model="tid" :rules="[
          val => val !== null && val !== '' || 'Please type the Territory ID',
          val => val.length==6 || 'Please type a valid Territory ID'
        ]" dense outlined/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5">Territory Name *</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable readonly v-model="tname" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"/></div>
                <div class=" tw-text-sm tw-font-medium tw-mb-3 tw-col-span-3">ADDITIONAL INFORMATION</div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5  tw-pt-2">NPI</div><div class=" tw-col-span-2"><q-input disable readonly v-model="npi" dense outlined/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5  tw-pt-2">State License</div><div class=" tw-col-span-2"><q-input disable readonly v-model="slicense" dense outlined/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5  tw-pt-2">Speciality Description</div><div class=" tw-col-span-2"><q-input  disable readonly v-model="sd" dense outlined/></div>
            </div>
            <div class=" tw-grid tw-grid-cols-3 tw-gap-4 tw-mt-8">
                <div class=" tw-col-span-3 tw-text-base tw-font-medium">GOLDEN</div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 tw-pt-2">First Name *</div><div class=" tw-col-span-2"><q-input disable readonly v-model="fname1" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5">Middle Name</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable readonly v-model="mname1" dense outlined/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 tw-pt-4">Last Name *</div><div class=" tw-col-span-2 tw-mt-2"><q-input disable readonly v-model="lname1" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 ">Source Type *</div><div class=" tw-col-span-2 tw--mt-3 tw-uppercase"><q-input disable readonly v-model="stype1" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type Source Name here']"/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 ">Source Name *</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable readonly v-model="sname1" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"/></div>
                <div class=" tw-col-span-3 tw-text-sm tw-font-medium tw-my-3 ">ADDRESS INFORMATION</div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 tw-pt-2">Address Line 1 *</div><div class=" tw-col-span-2"><q-input disable readonly v-model="addr11" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type your address']"/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 ">Address Line 2</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable readonly v-model="addr21" dense outlined/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 tw-pt-4">City *</div><div class=" tw-col-span-2 tw-mt-2"><q-input disable readonly v-model="city1" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type your city']"/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 ">State *</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable readonly v-model="state1" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type your state']"/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 ">Zip *</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable readonly v-model="zip1" lazy-rules
        :rules="[
          val => val !== null && val !== '' || 'Please type the Zip code'
        ]" dense outlined/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5">Territory ID *</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable readonly v-model="tid1" :rules="[
          val => val !== null && val !== '' || 'Please type the Territory ID',
          val => val.length==6 || 'Please type a valid Territory ID'
        ]" dense outlined/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5">Territory Name *</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable readonly v-model="tname1" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"/></div>
                <div class=" tw-text-sm tw-font-medium tw-mb-3 tw-col-span-3">ADDITIONAL INFORMATION</div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5  tw-pt-2">NPI</div><div class=" tw-col-span-2"><q-input disable readonly v-model="npi1" dense outlined/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5  tw-pt-2">State License</div><div class=" tw-col-span-2"><q-input disable readonly v-model="slicense1" dense outlined/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5  tw-pt-2">Speciality Description</div><div class=" tw-col-span-2"><q-input disable readonly v-model="sd1" dense outlined/></div>
            </div>
            <div class=" tw-grid tw-grid-cols-3 tw-gap-4 tw-mt-8">
                <div class=" tw-col-span-3 tw-text-base tw-font-medium">UPDATED</div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 tw-pt-2">First Name *</div><div class=" tw-col-span-2"><q-input v-model="ufname" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5">Middle Name</div><div class=" tw-col-span-2 tw--mt-3"><q-input v-model="umname" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 tw-pt-4">Last Name *</div><div class=" tw-col-span-2 tw-mt-2"><q-input v-model="ulname" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 ">Source Type *</div><div class=" tw-col-span-2 tw--mt-3 tw-uppercase"><q-input v-model="ustype" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type Source Name here']"><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 ">Source Name *</div><div class=" tw-col-span-2 tw--mt-3"><q-input v-model="usname" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-3 tw-text-sm tw-font-medium tw-my-3 ">ADDRESS INFORMATION</div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 tw-pt-2">Address Line 1 *</div><div class=" tw-col-span-2"><q-input v-model="uaddr1" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type your address']"><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 ">Address Line 2</div><div class=" tw-col-span-2 tw--mt-3"><q-input v-model="uaddr2" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 tw-pt-4">City *</div><div class=" tw-col-span-2 tw-mt-2"><q-input v-model="ucity" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type your city']"><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 ">State *</div><div class=" tw-col-span-2 tw--mt-3"><q-input v-model="ustate" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type your state']"><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 ">Zip *</div><div class=" tw-col-span-2 tw--mt-3"><q-input v-model="uzip" lazy-rules
        :rules="[
          val => val !== null && val !== '' || 'Please type the Zip code'
        ]" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5">Territory ID *</div><div class=" tw-col-span-2 tw--mt-3"><q-input v-model="utid" :rules="[
          val => val !== null && val !== '' || 'Please type the Territory ID',
          val => val.length==6 || 'Please type a valid Territory ID'
        ]" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5">Territory Name *</div><div class=" tw-col-span-2 tw--mt-3"><q-input v-model="utname" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-text-sm tw-font-medium tw-mb-3 tw-col-span-3">ADDITIONAL INFORMATION</div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5  tw-pt-2">NPI</div><div class=" tw-col-span-2"><q-input v-model="unpi" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5  tw-pt-2">State License</div><div class=" tw-col-span-2"><q-input v-model="uslicense" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5  tw-pt-2">Speciality Description</div><div class=" tw-col-span-2"><q-input v-model="usd" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-text-base tw-font-medium tw-mt-4 tw-col-span-3">COMMENTS</div>
                <div class=" tw-col-span-3"><q-input type="textarea" outlined v-model="comments" placeholder="Type Comments here...."/></div>
            </div>
            <div class=" tw-flex tw-flex-row tw-justify-between tw-mt-8">
                <div><q-btn @click="back()" color="blue" icon="undo" label="BACK"/></div>
                <div><q-btn @click="save()" color="green" icon="save" label="SAVE"/></div>
                <q-dialog v-model="confirm" persistent>
                <q-card>
                    <q-card-section class="row items-center">
                    <q-icon size="30px" name="warning" color="red" text-color="white" />
                    <span class="q-ml-md">Are you sure you want to save the changes ?</span>
                    </q-card-section>

                    <q-card-actions align="right">
                    <q-btn flat label="No" color="primary" v-close-popup />
                    <q-btn flat @click="notify()" label="Yes" color="primary" v-close-popup />
                    </q-card-actions>
                </q-card>
                </q-dialog>
            </div>
            </q-form>
      </q-step>
      <template v-slot:message>
                <q-banner v-if="step==2 && bann" class="bg-primary text-white">
                Do you want to update the address ?
                <template v-slot:action>
                    <q-btn flat color="white" @click="bann=false" label="Dismiss" />
                    <q-btn flat color="white" @click="update()" label="Update Address" />
                </template>
                </q-banner>
            </template>
    </q-stepper>
    </div>
</template>

<script>

import mdmData from 'assets/contentType.json'


export default {
    name:'rev',
    data(){
        return{
            disab:false,
            disab1:false,
            disab2:false,
            holdKey:'',
            mdmID:'',
            assignMDM:'',
            assignID:false,
            mdm:mdmData,
            customer_sk:'',
            source_id:'',
            comments:'',
            confirm:false,
            bann:true,
            fname:'',
            mname:'',
            lname:'',
            tname:'',
            tid:'',
            sname:'',
            stype:'',
            addr1:'',
            addr2:'',
            city:'',
            state:'',
            zip:'',
            sd:'',
            npi:'',
            slicense:'',
            fname1:'',
            mname1:'',
            lname1:'',
            tname1:'',
            tid1:'',
            sname1:'',
            stype1:'',
            addr11:'',
            addr21:'',
            city1:'',
            state1:'',
            zip1:'',
            sd1:'',
            npi1:'',
            slicense1:'',
            ufname:'',
            umname:'',
            ulname:'',
            utname:'',
            utid:'',
            usname:'',
            ustype:'',
            uaddr1:'',
            uaddr2:'',
            ucity:'',
            ustate:'',
            uzip:'',
            usd:'',
            unpi:'',
            uslicense:'',
            step: 1,
            details:['Primary Details','Secondary Details'],
            det:'Primary Details',
            showw:false,
            idData:[],
            col:[{name:'Source Type',align:'left',field:'Source Type',label:'Source Type'},{name:'First Name',align:'left',field:'First Name',label:'First Name'},
            {name:'Middle Name',align:'left',field:'Middle Name',label:'Middle Name'},{name:'Last Name',align:'left',field:'Last Name',label:'Last Name'},
            {name:'Address Line 1',align:'left',field:'Address Line 1',label:'Address Line 1'},{name:'Address Line 2',align:'left',field:'Address Line 2',label:'Address Line 2'},
            {name:'City',align:'left',field:'City',label:'City'},{name:'State',align:'left',field:'State',label:'State'},{name:'Zip',align:'left',field:'Zip',label:'Zip'}]
        }
    },
    methods:{
        newMdm(){
            this.$refs.stepper.next()
            window.scrollTo(0,0)
            this.ufname=this.fname
            this.umname=this.mname
            this.ulname=this.lname
            this.usname=this.sname
            this.ustype=this.stype
            this.uaddr1=this.addr1
            this.uaddr2=this.addr2
            this.uzip=this.zip
            this.utid=this.tid
            this.ustate=this.state
            this.ucity=this.city
            this.unpi=this.npi
            this.usd=this.sd
            this.uslicense=this.slicense
            this.utname=this.tname
            this.bann=false
        },
        save(){
            if(this.ufname=="" ||
                this.ulname=="" ||
                this.uaddr1==""||
                this.uaddr2==""||
                this.uzip=="" ||
                this.utid==""||
                this.ustate=="" ||
                this.ucity==""||
                this.utname==""){
                    this.$q.notify({
                        color: 'red',
                        textColor: 'white',
                        icon: 'error',
                        message: 'Please Fill in all the required details to proceed !!!'
                    })
                }
                else{
                    this.confirm=true
                }   
        },
        notify(){
            this.$q.notify({
                                color: 'green',
                                textColor: 'white',
                                icon: 'save',
                                message: 'Saved'
                            })
        },
        assign(){
            if(this.fname=="" ||
                this.lname=="" ||
                this.sname=="" ||
                this.stype=="" ||
                this.addr1==""||
                this.addr2==""||
                this.zip=="" ||
                this.tid==""||
                this.state=="" ||
                this.city==""||
                this.tname==""){
                    this.$q.notify({
                        color: 'red',
                        textColor: 'white',
                        icon: 'error',
                        message: 'Please Fill in all the required details to proceed !!!'
                    })
                }else{
                    this.assignID=true
                    this.disab=true
                    this.disab1=true
                }
        },
        top(){
            this.$refs.stepper.next()
            window.scrollTo(0,0)
            this.fname1=this.fname
            this.mname1=this.mname
            this.lname1=this.lname
            this.sname1=this.sname
            this.stype1=this.stype
            this.addr11=this.addr1
            this.addr21=this.addr2
            this.zip1=this.zip
            this.tid1=this.tid
            this.state1=this.state
            this.city1=this.city
            this.npi1=this.npi
            this.sd1=this.sd
            this.slicense1=this.slicense
            this.tname1=this.tname
        },
        top1(){
                let count=0
                for(let i=0;i<this.mdm.length;i++){
                    if(this.assignMDM==this.mdm[i]["MDM ID"]){
                        count++
                        this.fname1=this.mdm[i]["First Name"]
                        this.mname1=this.mdm[i]["Middle Name"]
                        this.lname1=this.mdm[i]["Last Name"]
                        this.sname1=this.mdm[i]["Hold Key"]
                        this.stype1=this.mdm[i].Source_Type
                        this.addr11=this.mdm[i]["Address Line 1"]
                        this.addr21=this.mdm[i]["Address Line 2"]
                        this.zip1=this.mdm[i]["Zip"]
                        this.tid1=this.tid
                        this.state1=this.mdm[i]["State"]
                        this.city1=this.mdm[i]["City"]
                        this.npi1=this.mdm[i]["NPI"]
                        this.sd1=this.mdm[i]["Zip"]
                        this.slicense1=this.mdm[i]["State License"]
                        this.tname1=this.mdm[i]["Territory Name"]
                        this.$refs.stepper.next()
                        window.scrollTo(0,0)
                    
                    }
                }
                if(count==0){
                    this.$q.notify({
                        color: 'red',
                        textColor: 'white',
                        icon: 'error',
                        message: 'Please Enter a Valid Matching MDM ID to proceed !!!'
                    })
                }
        },
        back(){
            this.$refs.stepper.previous()
            window.scrollTo(0,0)
        },
        openEx(){
            if(this.fname=="" ||
                this.lname=="" ||
                this.sname=="" ||
                this.stype=="" ||
                this.addr1==""||
                this.addr2==""||
                this.zip=="" ||
                this.tid==""||
                this.state=="" ||
                this.city==""||
                this.tname==""){
                    this.$q.notify({
                        color: 'red',
                        textColor: 'white',
                        icon: 'warning',
                        message: 'Please Fill in all the required details to proceed !!!'
                    })   
                }else{
                    this.showw=true
                    this.disab1=true
                    this.disab2=true
                    let a={}
                    a['Source Type']=this.stype.toUpperCase()
                    a['First Name']=this.fname
                    a['Middle Name']=this.mname
                    a['Last Name']=this.lname
                    a['Address Line 1']=this.addr1
                    a['Address Line 2']=this.addr2
                    a['City']=this.city
                    a['State']=this.state
                    a['Zip']=this.zip
                    this.idData.push(a)
                }
        },
        update(){
            this.ufname=this.fname
            this.umname=this.mname
            this.ulname=this.lname
            this.usname=this.sname
            this.ustype=this.stype
            this.uaddr1=this.addr1
            this.uaddr2=this.addr2
            this.uzip=this.zip
            this.utid=this.tid
            this.ustate=this.state
            this.ucity=this.city
            this.unpi=this.npi
            this.usd=this.sd
            this.uslicense=this.slicense
            this.utname=this.tname
            this.bann=false
        }
    },
    created(){
        this.$q.screen.setSizes({xs: 280, sm: 375,md:768, lg: 1024, xl: 1241 })
        this.customer_sk=this.$route.params.id
        for(let i=0;i<this.mdm.length;i++){
            if(this.mdm[i].Customer_Sk==this.customer_sk){
                this.mdmID=this.mdm[i]["MDM ID"]
                this.fname=this.mdm[i]["First Name"]
                this.mname=this.mdm[i]["Middle Name"]
                this.lname=this.mdm[i]["Last Name"]
                this.sname=" "
                this.stype=this.mdm[i].Source_Type
                this.addr1=this.mdm[i]["Address Line 1"]
                this.addr2=this.mdm[i]["Address Line 2"]
                this.zip=this.mdm[i].Zip
                this.tid=this.mdm[i]["Territory ID"]
                this.state=this.mdm[i].State
                this.city=this.mdm[i].City
                this.npi=this.mdm[i]["NPI"]
                this.sd=" "
                this.slicense=this.mdm[i]["State License"]
                this.tname=this.mdm[i]["Territory Name"]
                this.source_id=this.mdm[i].Source_ID
                this.holdKey=this.mdm[i]["Hold Key"]
            }
        }
    }
}
</script>