<template>
    <div>
        <q-card class=" tw-w-full tw-bg-blue-600 tw-font-medium tw-text-white tw-mb-4"><q-card-section>MDM REQUEST</q-card-section></q-card>
        <div class=" tw-grid xs:tw-grid-cols-1 md:tw-grid-cols-3 tw-gap-3 tw-mb-4">
            <div>
                <q-card>
                        <q-card-section class=" tw-bg-green-600 tw-text-white">
                                <div class=" tw-flex tw-flex-row tw-justify-between">
                                <div>
                                    <div class=" tw-mb-1 tw-font-medium tw-text-lg">SUBMITTED/IN PROGRESS</div>
                                    <div class=" tw-text-lg">{{this.subData.length}}</div>
                                </div>
                                <div class=" tw-pt-2"><q-icon size="40px" name="save" /></div>
                                </div>
                        </q-card-section>
                </q-card>
            </div>
            <div>
                <q-card>
                        <q-card-section class=" tw-bg-yellow-600 tw-text-white">
                                <div class=" tw-flex tw-flex-row tw-justify-between">
                                <div>
                                    <div class=" tw-mb-1 tw-font-medium tw-text-lg">WAITING FOR APPROVAL</div>
                                    <div class=" tw-text-lg">{{this.waitData.length}}</div>
                                </div>
                                <div class=" tw-pt-2"><q-icon size="40px" name="hourglass_top" /></div>
                                </div>
                        </q-card-section>
                </q-card>
            </div>
            <div>
                <q-card>
                        <q-card-section class=" tw-bg-red-600 tw-text-white">
                                <div class=" tw-flex tw-flex-row tw-justify-between">
                                <div>
                                    <div class=" tw-mb-1 tw-font-medium tw-text-lg">APPROVED/REJECTED</div>
                                    <div class=" tw-text-lg">{{this.approveData.length}}</div>
                                </div>
                                <div class=" tw-pt-2"><q-icon size="40px" name="thumb_down_alt" /></div>
                                </div>
                        </q-card-section>
                </q-card>
            </div>
        </div>
        <q-card>
        <q-tabs
          v-model="tab"
          class="text-grey"
          active-color="primary"
          indicator-color="primary"
          align="justify"
        >
          <q-tab name="submit" label="Submitted / In Progress" />
          <q-tab name="waiting" label="Waiting For Approval" />
          <q-tab name="approve" label="Approve/Rejected" />
        </q-tabs>

        <q-separator />

        <q-tab-panels v-model="tab" animated>
          <q-tab-panel name="submit">
                      <q-table
                       :data="subData"
                       :columns="column"
                       @row-click="id"
                       class="my-sticky-dynamic"
                       :rows-per-page-options="[0]"
                       hide-pagination
                       flat
                      />
          </q-tab-panel>

          <q-tab-panel name="waiting">
            <q-table
                flat
                :data="waitData"
                :columns="column"
                class="my-sticky-dynamic"
                :rows-per-page-options="[0]"
                hide-pagination
                @row-click="id"
            />
          </q-tab-panel>

          <q-tab-panel name="approve">
                      <q-table
                      flat
                       :data="approveData"
                       :rows-per-page-options="[0]"
                       :columns="column"
                       class="my-sticky-dynamic"
                       @row-click="showInformation"
                       hide-pagination
                      />
                      <q-dialog v-model="showInform" style="max-width:1600px;width:1000px" persistent>
                          <q-card>
                              <q-card-section>
                                <q-table
                                    flat
                                    title="Record Summary"
                                    :data="popupData"
                                    :columns="column"
                                    class="my-sticky-dynamic"
                                    :rows-per-page-options="[0]"
                                />
                              </q-card-section>
                              <q-card-actions align="right">
                                <q-btn flat label="Close" @click="popupData=[]" color="primary" v-close-popup />
                              </q-card-actions>
                          </q-card>
                      </q-dialog>
          </q-tab-panel>
        </q-tab-panels>
      </q-card>

    </div>
</template>

<script>

import changeRequest from 'assets/changeReq.json'

export default {
    name:'request',
    data(){
        return {
            showInform:false,
            popupData:[],
            changeData:changeRequest,
            subData:[],
            approveData:[],
            waitData:[],
            tab:'submit',
            column:[{name:'Change_Request_id',label:'Change Request ID',field:'Change_Request_id',align:'left'},{name:'First Name',label:'Customer Name',field:'First Name',align:'left'},
            {name:'Status',label:'Status',field:'Status',align:'left'},{name:'Created By',label:'Created By',field:'Created By',align:'left'},
            {name:'Created DateTime',label:'Created Date',field:'Created DateTime',align:'left'},{name:'Change Request Name',label:'Change Request Type',field:'Change Request Name',align:'left'}]
        }
    },
    methods:{
        id(evt,row){
            let routeData=this.$router.resolve({name:'requestsub',params:{id:row.Change_Request_id}});
            window.open(routeData.href, '_blank');
        },
        showInformation(evt,row){
            this.showInform=true
            let a={}
            a['Change_Request_id']=row.Change_Request_id
            a['First Name']=row["First Name"]
            a['Status']=row.Status
            a["Created By"]=row["Created By"]
            a["Created DateTime"]=row["Created DateTime"]
            a["Change Request Name"]=row["Change Request Name"]
            this.popupData.push(a)
        }
    },
    created(){
        this.subData=this.changeData.filter(e=>e.Status=="Submitted")
        this.approveData=this.changeData.filter(e=>e.Status=="Approved")
        this.waitData=this.changeData.filter(e=>e.Status=="Waiting For Approval")
        if(this.$route.params.tab.length!=0){
          this.tab=this.$route.params.tab
        }
    }
}
</script>

<style lang="sass">
.my-sticky-dynamic
  height: 354px

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th /* bg color is important for th; just specify one */
    background-color: #fff

  thead tr th
    position: sticky
    z-index: 1

  thead tr:last-child th
    top: 48px
  thead tr:first-child th
    top: 0

</style>