<template>
    <div>
        <q-card class=" tw-w-full tw-bg-blue-600 tw-font-medium tw-text-white tw-mb-4"><q-card-section>CHANGE REQUEST</q-card-section></q-card>
        <!-- <q-stepper
                v-model="step"
                ref="stepper"
                color="primary"
                animated
                >
            <q-step
                :name="1"
                title="Primary Details"
                icon="manage_accounts"
                :done="step > 1"
            >
                <div class=" tw-grid tw-grid-cols-3 tw-gap-4 xs:tw-w-full md:tw-w-1/2">
                    <div class=" xs:tw-col-span-3 xs:tw-col-start-1 md:tw-col-start-2 md:tw-col-span-2 xs:tw-text-lg md:tw-text-base xs:tw-font-medium md:tw-font-normal">SUBMITTED</div>
                    <div class=" tw-col-span-1 tw-text-left xs:tw-pl-2 md:tw-pl-5  tw-pt-2">Request ID</div><div class=" tw-col-span-2"><q-input v-model="urid" type="text" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                    <div class=" tw-col-span-1 tw-text-left xs:tw-pl-2 md:tw-pl-5 ">Customer Name</div><div class=" tw-col-span-2 tw--mt-3"><q-input v-model="ucname" type="text" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                    <div class=" tw-col-span-1 tw-text-left xs:tw-pl-2 md:tw-pl-5  tw-pt-4">Status</div><div class=" tw-col-span-2 tw-mt-2"><q-input v-model="ustatus" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                    <div class=" tw-col-span-1 tw-text-left xs:tw-pl-2 md:tw-pl-5 ">Created By</div><div class=" tw-col-span-2 tw--mt-3"><q-input  v-model="ucreatedBy" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"  dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                    <div class=" tw-col-span-1 tw-text-left xs:tw-pl-2 md:tw-pl-5 ">Created Date</div><div class=" tw-col-span-2 tw--mt-3"><q-input  v-model="ucreatedDate" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"  dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                    <div class=" tw-col-span-1 tw-text-left xs:tw-pl-2 md:tw-pl-5 ">Change Request Type</div><div class=" tw-col-span-2 tw--mt-3"><q-input v-model="uchangeRequestType" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"  dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                </div>
                <div class=" tw-pb-6"><q-btn label="CONTINUE" class=" tw-float-right" color="green"  @click="top()"/></div>
            </q-step>
            <q-step
                :name="2"
                title="Secondary Details"
                icon="switch_account"
                :done="step > 2"
            >
                <div v-if="$q.screen.gt.sm" class=" tw-grid tw-grid-cols-7 tw-gap-4">
                    <div class=" tw-col-span-1"></div>
                    <div class=" tw-col-span-2">SUBMITTED</div>
                    <div class=" tw-col-span-2">GOLDEN</div>
                    <div class=" tw-col-span-2">FINAL</div>
                    <div class=" tw-col-span-1 tw-text-left xs:tw-pl-2 md:tw-pl-5  tw-pt-2">Request ID</div><div class=" tw-col-span-2"><q-input disable readonly v-model="rid" dense outlined /></div><div class=" tw-col-span-2"><q-input disable v-model="rid" dense outlined readonly/></div><div class=" tw-col-span-2"><q-input v-model="urid" type="text" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                    <div class=" tw-col-span-1 tw-text-left xs:tw-pl-2 md:tw-pl-5 ">Customer Name</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable v-model="cname" dense outlined readonly/></div><div class=" tw-col-span-2 tw--mt-3"><q-input disable v-model="cname" dense outlined readonly/></div><div class=" tw-col-span-2 tw--mt-3"><q-input v-model="ucname" type="text" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                    <div class=" tw-col-span-1 tw-text-left xs:tw-pl-2 md:tw-pl-5  tw-pt-4">Status</div><div class=" tw-col-span-2 tw-mt-2"><q-input disable v-model="status" dense outlined readonly/></div><div class=" tw-col-span-2 tw-mt-2"><q-input disable v-model="status" dense outlined readonly/></div><div class=" tw-col-span-2 tw-mt-2"><q-input v-model="ustatus" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                    <div class=" tw-col-span-1 tw-text-left xs:tw-pl-2 md:tw-pl-5 ">Created By</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable v-model="createdBy" dense outlined readonly/></div><div class=" tw-col-span-2 tw--mt-3"><q-input disable dense v-model="createdBy" outlined readonly/></div><div class=" tw-col-span-2 tw--mt-3"><q-input  v-model="ucreatedBy" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"  dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                    <div class=" tw-col-span-1 tw-text-left xs:tw-pl-2 md:tw-pl-5 ">Created Date</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable v-model="createdDate" dense readonly outlined/></div><div class=" tw-col-span-2 tw--mt-3"><q-input disable dense v-model="createdDate" readonly outlined/></div><div class=" tw-col-span-2 tw--mt-3"><q-input  v-model="ucreatedDate" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"  dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                    <div class=" tw-col-span-1 tw-text-left xs:tw-pl-2 md:tw-pl-5 ">Change Request Type</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable v-model="changeRequestType" dense readonly outlined/></div><div class=" tw-col-span-2 tw--mt-3"><q-input disable dense v-model="changeRequestType" readonly outlined/></div><div class=" tw-col-span-2 tw--mt-3"><q-input v-model="uchangeRequestType" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"  dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                </div>
                <div v-else>
                    <div class=" tw-grid tw-grid-cols-3 tw-gap-4">
                        <div class=" tw-col-span-3 tw-font-medium tw-text-lg">SUBMITTED</div>
                        <div class=" tw-col-span-1 tw-text-left xs:tw-pl-2 md:tw-pl-5  tw-pt-2">Request ID</div><div class=" tw-col-span-2"><q-input disable readonly v-model="urid" type="text" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']" dense outlined/></div>
                        <div class=" tw-col-span-1 tw-text-left xs:tw-pl-2 md:tw-pl-5 ">Customer Name</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable readonly v-model="ucname" type="text" dense outlined/></div>
                        <div class=" tw-col-span-1 tw-text-left xs:tw-pl-2 md:tw-pl-5  tw-pt-4">Status</div><div class=" tw-col-span-2 tw-mt-2"><q-input disable readonly v-model="ustatus" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']" dense outlined/></div>
                        <div class=" tw-col-span-1 tw-text-left xs:tw-pl-2 md:tw-pl-5 ">Created By</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable readonly v-model="ucreatedBy" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"  dense outlined/></div>
                        <div class=" tw-col-span-1 tw-text-left xs:tw-pl-2 md:tw-pl-5 ">Created Date</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable readonly v-model="ucreatedDate" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"  dense outlined/></div>
                        <div class=" tw-col-span-1 tw-text-left xs:tw-pl-2 md:tw-pl-5 ">Change Request Type</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable readonly v-model="uchangeRequestType" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"  dense outlined/></div>
                    </div>
                    <div class=" tw-grid tw-grid-cols-3 tw-gap-4 tw-mt-4">
                        <div class=" tw-col-span-3 tw-font-medium tw-text-lg">GOLDEN</div>
                        <div class=" tw-col-span-1 tw-text-left xs:tw-pl-2 md:tw-pl-5  tw-pt-2">Request ID</div><div class=" tw-col-span-2"><q-input disable readonly v-model="urid" type="text" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']" dense outlined/></div>
                        <div class=" tw-col-span-1 tw-text-left xs:tw-pl-2 md:tw-pl-5 ">Customer Name</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable readonly v-model="ucname" type="text" dense outlined/></div>
                        <div class=" tw-col-span-1 tw-text-left xs:tw-pl-2 md:tw-pl-5  tw-pt-4">Status</div><div class=" tw-col-span-2 tw-mt-2"><q-input disable readonly v-model="ustatus" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']" dense outlined/></div>
                        <div class=" tw-col-span-1 tw-text-left xs:tw-pl-2 md:tw-pl-5 ">Created By</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable readonly v-model="ucreatedBy" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"  dense outlined/></div>
                        <div class=" tw-col-span-1 tw-text-left xs:tw-pl-2 md:tw-pl-5 ">Created Date</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable readonly v-model="ucreatedDate" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"  dense outlined/></div>
                        <div class=" tw-col-span-1 tw-text-left xs:tw-pl-2 md:tw-pl-5 ">Change Request Type</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable readonly v-model="uchangeRequestType" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"  dense outlined/></div>
                    </div>
                    <div class=" tw-grid tw-grid-cols-3 tw-gap-4 tw-mt-4">
                        <div class=" tw-col-span-3 tw-font-medium tw-text-lg">FINAL</div>
                        <div class=" tw-col-span-1 tw-text-left xs:tw-pl-2 md:tw-pl-5  tw-pt-2">Request ID</div><div class=" tw-col-span-2"><q-input v-model="urid" type="text" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                        <div class=" tw-col-span-1 tw-text-left xs:tw-pl-2 md:tw-pl-5 ">Customer Name</div><div class=" tw-col-span-2 tw--mt-3"><q-input v-model="ucname" type="text" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                        <div class=" tw-col-span-1 tw-text-left xs:tw-pl-2 md:tw-pl-5  tw-pt-4">Status</div><div class=" tw-col-span-2 tw-mt-2"><q-input v-model="ustatus" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                        <div class=" tw-col-span-1 tw-text-left xs:tw-pl-2 md:tw-pl-5 ">Created By</div><div class=" tw-col-span-2 tw--mt-3"><q-input  v-model="ucreatedBy" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"  dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                        <div class=" tw-col-span-1 tw-text-left xs:tw-pl-2 md:tw-pl-5 ">Created Date</div><div class=" tw-col-span-2 tw--mt-3"><q-input  v-model="ucreatedDate" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"  dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                        <div class=" tw-col-span-1 tw-text-left xs:tw-pl-2 md:tw-pl-5 ">Change Request Type</div><div class=" tw-col-span-2 tw--mt-3"><q-input v-model="uchangeRequestType" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"  dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                    </div>
                </div>
                <div class=" tw-flex tw-flex-row tw-justify-between xs:tw-mt-6 md:tw-mt-2">
                    <div><q-btn label="BACK" icon="undo" class=" tw-float-right" color="blue"  @click="back()"/></div>
                    <div><q-btn @click="confirm=true" color="green" icon="save" label="SAVE"/></div>
                    <q-dialog v-model="confirm" persistent>
                    <q-card>
                        <q-card-section class="row items-center">
                        <q-icon size="30px" name="warning" color="red" text-color="white" />
                        <span class="q-ml-md">Are you sure you want to save the changes ?</span>
                        </q-card-section>

                        <q-card-actions align="right">
                        <q-btn flat label="No" color="primary" v-close-popup />
                        <q-btn flat @click="notify()" label="Yes" color="primary" v-close-popup />
                        </q-card-actions>
                    </q-card>
                    </q-dialog>
                </div>
                    
            </q-step>
        </q-stepper> -->
        <q-card v-if="$q.screen.gt.sm">
            <q-card-section>
        <div class=" tw-text-lg tw-font-medium">CUSTOMER INFORMATION</div>
            <q-form class=" tw-mt-8">
            <div class=" tw-grid tw-grid-cols-7 tw-gap-4">
                <div class=" tw-col-span-1"></div>
                <div class=" tw-col-span-2">INCOMING</div>
                <div class=" tw-col-span-2">GOLDEN</div>
                <div class=" tw-col-span-2">UPDATED</div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5  tw-pt-2">First Name *</div><div class=" tw-col-span-2"><q-input disable v-model="fname" dense outlined readonly/></div><div class=" tw-col-span-2"><q-input disable v-model="fname" dense outlined readonly/></div><div class=" tw-col-span-2"><q-input v-model="ufname" type="text" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 ">Middle Name</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable v-model="mname" dense outlined readonly/></div><div class=" tw-col-span-2 tw--mt-3"><q-input disable v-model="mname" dense outlined readonly/></div><div class=" tw-col-span-2 tw--mt-3"><q-input v-model="umname" type="text" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5  tw-pt-4">Last Name *</div><div class=" tw-col-span-2 tw-mt-2"><q-input disable v-model="lname" dense outlined readonly/></div><div class=" tw-col-span-2 tw-mt-2"><q-input disable v-model="lname" dense outlined readonly/></div><div class=" tw-col-span-2 tw-mt-2"><q-input v-model="ulname" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 ">Source Type *</div><div class=" tw-col-span-2 tw--mt-3 tw-uppercase"><q-input disable v-model="stype" dense outlined readonly/></div><div class=" tw-col-span-2 tw--mt-3 tw-uppercase"><q-input disable dense v-model="stype" outlined readonly/></div><div class=" tw-col-span-2 tw--mt-3 tw-uppercase"><q-input disable v-model="stype" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']" readonly dense outlined/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 ">Source Name *</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable v-model="sname" dense readonly outlined/></div><div class=" tw-col-span-2 tw--mt-3"><q-input disable dense v-model="sname" readonly outlined/></div><div class=" tw-col-span-2 tw--mt-3"><q-input disable v-model="sname" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']" readonly dense outlined/></div>
                <div class=" tw-text-base tw-font-medium tw-mb-3 tw-col-span-7">ADDRESS INFORMATION</div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5  tw-pt-2">Address Line 1 *</div><div class=" tw-col-span-2"><q-input disable v-model="addr1" readonly dense outlined/></div><div class=" tw-col-span-2"><q-input disable v-model="addr1" readonly dense outlined/></div><div class=" tw-col-span-2"><q-input v-model="uaddr1"  lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 ">Address Line 2</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable v-model="addr2" readonly dense outlined/></div><div class=" tw-col-span-2 tw--mt-3"><q-input disable v-model="addr2" readonly dense outlined/></div><div class=" tw-col-span-2 tw--mt-3"><q-input v-model="uaddr2" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5  tw-pt-4">City *</div><div class=" tw-col-span-2 tw-mt-2"><q-input disable v-model="city" readonly dense outlined/></div><div class=" tw-col-span-2 tw-mt-2"><q-input disable v-model="city" readonly dense outlined/></div><div class=" tw-col-span-2 tw-mt-2"><q-input v-model="ucity" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5">State *</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable v-model="state" readonly dense outlined/></div><div class=" tw-col-span-2 tw--mt-3"><q-input disable v-model="state" readonly dense outlined/></div><div class=" tw-col-span-2 tw--mt-3"><q-input v-model="ustate" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5">Zip *</div><div class="tw-col-span-2 tw--mt-3"><q-input disable v-model="zip" readonly dense outlined/></div><div class=" tw-col-span-2 tw--mt-3"><q-input disable v-model="zip" readonly dense outlined/></div><div class=" tw-col-span-2 tw--mt-3"><q-input v-model="uzip" :rules="[
          val => val !== null && val !== '' || 'Please type the Zip code',
        ]" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5">Territory ID *</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable v-model="tid" readonly dense outlined/></div><div class=" tw-col-span-2 tw--mt-3"><q-input disable v-model="tid" readonly dense outlined/></div><div class=" tw-col-span-2 tw--mt-3"><q-input v-model="utid" :rules="[
          val => val !== null && val !== '' || 'Please type the Territory ID',
          val => val.length==6 || 'Please type a valid Territory ID'
        ]" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 ">Territory Name *</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable v-model="tname" readonly dense outlined/></div><div class=" tw-col-span-2 tw--mt-3"><q-input disable v-model="tname" readonly dense outlined/></div><div class=" tw-col-span-2 tw--mt-3"><q-input v-model="utname" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-text-base tw-font-medium tw-my-5 tw-col-span-7">ADDITIONAL INFORMATION</div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5  tw-pt-2">NPI</div><div class=" tw-col-span-2"><q-input disable v-model="npi" readonly dense outlined/></div><div class=" tw-col-span-2"><q-input disable v-model="npi" readonly dense outlined/></div><div class=" tw-col-span-2"><q-input v-model="unpi" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 tw-pt-2">State License</div><div class=" tw-col-span-2"><q-input disable v-model="slicense" readonly dense outlined/></div><div class=" tw-col-span-2"><q-input disable v-model="slicense" readonly dense outlined/></div><div class=" tw-col-span-2"><q-input v-model="uslicense" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left  xs:tw-pl-1 md:tw-pl-5  tw-pt-2">Speciality Description</div><div class=" tw-col-span-2"><q-input disable v-model="sd" readonly dense outlined/></div><div class=" tw-col-span-2"><q-input disable v-model="sd" readonly dense outlined/></div><div class=" tw-col-span-2"><q-input v-model="usd" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-text-base tw-font-medium tw-mt-4 tw-col-span-7">COMMENTS</div>
                <div class=" tw-col-span-7"><q-input type="textarea" outlined v-model="comments" placeholder="Type Comments here...."/></div>
            </div>
            <div class=" tw-flex tw-flex-row tw-flex-row-reverse xs:tw-mt-6 md:tw-mt-3">
                <div class=" tw-pl-4"><q-btn @click="save()" color="green" class=" tw-w-56" icon="save" label="SAVE"/></div>
                    <div><q-btn label="AWAITING CONFIRMATION" icon="hourglass_top" :disable="disab" color="blue" @click="goToWait()"/></div>
                    <q-dialog v-model="confirm" persistent>
                    <q-card>
                        <q-card-section class="row items-center">
                        <q-icon size="30px" name="warning" color="red" text-color="white" />
                        <span class="q-ml-md">Are you sure you want to save the changes ?</span>
                        </q-card-section>

                        <q-card-actions align="right">
                        <q-btn flat label="No" color="primary" v-close-popup />
                        <q-btn flat @click="notify()" label="Yes" color="primary" v-close-popup />
                        </q-card-actions>
                    </q-card>
                    </q-dialog>
                </div>
            </q-form>
            </q-card-section>
        </q-card>
        <q-card v-else>
            <q-card-section>
                <div class=" tw-text-xl tw-font-medium">CUSTOMER INFORMATION</div>
            <q-form  class=" tw-mt-8">
            <div class=" tw-grid tw-grid-cols-3 tw-gap-4">
                <div class=" tw-col-span-3 tw-text-base tw-font-medium">INCOMING</div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 tw-pt-2">First Name *</div><div class=" tw-col-span-2"><q-input disable readonly v-model="fname" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5">Middle Name</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable readonly v-model="mname" dense outlined/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 tw-pt-4">Last Name *</div><div class=" tw-col-span-2 tw-mt-2"><q-input disable readonly v-model="lname" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 ">Source Type *</div><div class=" tw-col-span-2 tw--mt-3 tw-uppercase"><q-input disable readonly v-model="stype" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type Source Name here']"/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 ">Source Name *</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable readonly v-model="sname" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"/></div>
                <div class=" tw-col-span-3 tw-text-sm tw-font-medium tw-my-3 ">ADDRESS INFORMATION</div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 tw-pt-2">Address Line 1 *</div><div class=" tw-col-span-2"><q-input disable readonly v-model="addr1" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type your address']"/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 ">Address Line 2</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable readonly v-model="addr2" dense outlined/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 tw-pt-4">City *</div><div class=" tw-col-span-2 tw-mt-2"><q-input disable readonly v-model="city" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type your city']"/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 ">State *</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable readonly v-model="state" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type your state']"/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 ">Zip *</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable readonly v-model="zip" lazy-rules
        :rules="[
          val => val !== null && val !== '' || 'Please type the Zip code'
        ]" dense outlined/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5">Territory ID *</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable readonly v-model="tid" :rules="[
          val => val !== null && val !== '' || 'Please type the Territory ID',
          val => val.length==6 || 'Please type a valid Territory ID'
        ]" dense outlined/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5">Territory Name *</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable readonly v-model="tname" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"/></div>
                <div class=" tw-text-sm tw-font-medium tw-mb-3 tw-col-span-3">ADDITIONAL INFORMATION</div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5  tw-pt-2">NPI</div><div class=" tw-col-span-2"><q-input disable readonly v-model="npi" dense outlined/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5  tw-pt-2">State License</div><div class=" tw-col-span-2"><q-input disable readonly v-model="slicense" dense outlined/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5  tw-pt-2">Speciality Description</div><div class=" tw-col-span-2"><q-input  disable readonly v-model="sd" dense outlined/></div>
            </div>
            <div class=" tw-grid tw-grid-cols-3 tw-gap-4 tw-mt-8">
                <div class=" tw-col-span-3 tw-text-base tw-font-medium">GOLDEN</div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 tw-pt-2">First Name *</div><div class=" tw-col-span-2"><q-input disable readonly v-model="fname" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5">Middle Name</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable readonly v-model="mname" dense outlined/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 tw-pt-4">Last Name *</div><div class=" tw-col-span-2 tw-mt-2"><q-input disable readonly v-model="lname" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 ">Source Type *</div><div class=" tw-col-span-2 tw--mt-3 tw-uppercase"><q-input disable readonly v-model="stype" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type Source Name here']"/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 ">Source Name *</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable readonly v-model="sname" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"/></div>
                <div class=" tw-col-span-3 tw-text-sm tw-font-medium tw-my-3 ">ADDRESS INFORMATION</div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 tw-pt-2">Address Line 1 *</div><div class=" tw-col-span-2"><q-input disable readonly v-model="addr1" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type your address']"/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 ">Address Line 2</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable readonly v-model="addr2" dense outlined/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 tw-pt-4">City *</div><div class=" tw-col-span-2 tw-mt-2"><q-input disable readonly v-model="city" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type your city']"/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 ">State *</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable readonly v-model="state" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type your state']"/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 ">Zip *</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable readonly v-model="zip" lazy-rules
        :rules="[
          val => val !== null && val !== '' || 'Please type the Zip code'
        ]" dense outlined/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5">Territory ID *</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable readonly v-model="tid" :rules="[
          val => val !== null && val !== '' || 'Please type the Territory ID',
          val => val.length==6 || 'Please type a valid Territory ID'
        ]" dense outlined/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5">Territory Name *</div><div class=" tw-col-span-2 tw--mt-3"><q-input disable readonly v-model="tname" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"/></div>
                <div class=" tw-text-sm tw-font-medium tw-mb-3 tw-col-span-3">ADDITIONAL INFORMATION</div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5  tw-pt-2">NPI</div><div class=" tw-col-span-2"><q-input disable readonly v-model="npi" dense outlined/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5  tw-pt-2">State License</div><div class=" tw-col-span-2"><q-input disable readonly v-model="slicense" dense outlined/></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5  tw-pt-2">Speciality Description</div><div class=" tw-col-span-2"><q-input disable readonly v-model="sd" dense outlined/></div>
            </div>
            <div class=" tw-grid tw-grid-cols-3 tw-gap-4 tw-mt-8">
                <div class=" tw-col-span-3 tw-text-base tw-font-medium">UPDATED</div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 tw-pt-2">First Name *</div><div class=" tw-col-span-2"><q-input v-model="ufname" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5">Middle Name</div><div class=" tw-col-span-2 tw--mt-3"><q-input v-model="umname" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 tw-pt-4">Last Name *</div><div class=" tw-col-span-2 tw-mt-2"><q-input v-model="ulname" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 ">Source Type *</div><div class=" tw-col-span-2 tw--mt-3 tw-uppercase"><q-input v-model="ustype" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type Source Name here']"><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 ">Source Name *</div><div class=" tw-col-span-2 tw--mt-3"><q-input v-model="usname" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-3 tw-text-sm tw-font-medium tw-my-3 ">ADDRESS INFORMATION</div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 tw-pt-2">Address Line 1 *</div><div class=" tw-col-span-2"><q-input v-model="uaddr1" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type your address']"><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 ">Address Line 2</div><div class=" tw-col-span-2 tw--mt-3"><q-input v-model="uaddr2" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 tw-pt-4">City *</div><div class=" tw-col-span-2 tw-mt-2"><q-input v-model="ucity" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type your city']"><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 ">State *</div><div class=" tw-col-span-2 tw--mt-3"><q-input v-model="ustate" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type your state']"><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5 ">Zip *</div><div class=" tw-col-span-2 tw--mt-3"><q-input v-model="uzip" lazy-rules
        :rules="[
          val => val !== null && val !== '' || 'Please type the Zip code'
        ]" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5">Territory ID *</div><div class=" tw-col-span-2 tw--mt-3"><q-input v-model="utid" :rules="[
          val => val !== null && val !== '' || 'Please type the Territory ID',
          val => val.length==6 || 'Please type a valid Territory ID'
        ]" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5">Territory Name *</div><div class=" tw-col-span-2 tw--mt-3"><q-input v-model="utname" dense outlined lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-text-sm tw-font-medium tw-mb-3 tw-col-span-3">ADDITIONAL INFORMATION</div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5  tw-pt-2">NPI</div><div class=" tw-col-span-2"><q-input v-model="unpi" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5  tw-pt-2">State License</div><div class=" tw-col-span-2"><q-input v-model="uslicense" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-col-span-1 tw-text-left xs:tw-pl-1 md:tw-pl-5  tw-pt-2">Speciality Description</div><div class=" tw-col-span-2"><q-input v-model="usd" dense outlined><template v-slot:append><q-icon name="edit" /></template></q-input></div>
                <div class=" tw-text-base tw-font-medium tw-mt-4 tw-col-span-3">COMMENTS</div>
                <div class=" tw-col-span-3"><q-input type="textarea" outlined v-model="comments" placeholder="Type Comments here...."/></div>
            </div>
            <div class=" tw-flex tw-flex-col tw-mt-6">
                <div class=" tw-mb-3"><q-btn @click="save()" color="green" class=" tw-w-full" icon="save" label="SAVE"/></div>
                    <div><q-btn label="AWAITING CONFIRMATION" icon="hourglass_top" class=" tw-w-full" :disable="disab" color="blue" @click="goToWait()"/></div>
                    <q-dialog v-model="confirm" persistent>
                    <q-card>
                        <q-card-section class="row items-center">
                        <q-icon size="30px" name="warning" color="red" text-color="white" />
                        <span class="q-ml-md">Are you sure you want to save the changes ?</span>
                        </q-card-section>

                        <q-card-actions align="right">
                        <q-btn flat label="No" color="primary" v-close-popup />
                        <q-btn flat @click="notify()" label="Yes" color="primary" v-close-popup />
                        </q-card-actions>
                    </q-card>
                    </q-dialog>
                </div>
            </q-form>
            </q-card-section>
        </q-card>
    </div>
</template>

<script>

import changeRequest from 'assets/changeReq.json'

export default {
    name:'mdmRequestSub',
    data(){
        return{
            changeData:changeRequest,
            disab:true,
            fname:'',
            mname:'',
            lname:'',
            tname:'',
            tid:'',
            sname:'',
            stype:'',
            addr1:'',
            addr2:'',
            city:'',
            state:'',
            zip:'',
            sd:'',
            npi:'',
            slicense:'',
            ufname:'',
            umname:'',
            ulname:'',
            utname:'',
            utid:'',
            usname:'',
            ustype:'',
            uaddr1:'',
            uaddr2:'',
            ucity:'',
            ustate:'',
            uzip:'',
            usd:'',
            unpi:'',
            uslicense:'',
            comments:'',
            // rid:'',
            // cname:'',
            // status:'',
            // createdBy:'',
            // createdDate:'',
            // changeRequestType:'',
            // urid:'',
            // ucname:'',
            // ustatus:'',
            // ucreatedBy:'',
            // ucreatedDate:'',
            // uchangeRequestType:'',
            confirm:false
        }
    },
    methods:{
        notify(){
            this.$q.notify({
                        color: 'green',
                        textColor: 'white',
                        icon: 'save',
                        message: 'Saved'
                    })   
        },
        goToWait(){
            this.$router.push({name:'request',params:{tab:'waiting'}})
        },
        save(){
            if(this.ufname=="" ||
                this.ulname=="" ||
                this.uaddr1==""||
                this.uzip=="" ||
                this.utid==""||
                this.ustate=="" ||
                this.ucity==""||
                this.utname==""){
                    this.$q.notify({
                        color: 'red',
                        textColor: 'white',
                        icon: 'error',
                        message: 'Please Fill in all the required details to proceed !!!'
                    })
                }
                else{
                    if(this.addr1!=this.uaddr1){
                        this.disab=false
                    }
                    this.confirm=true
                }   
        }
    },
    created(){
        this.$q.screen.setSizes({xs: 280, sm: 375,md:768, lg: 1024, xl: 1241 })
        this.rid= this.$route.params.id
        for(let i=0;i<this.changeData.length;i++){
            if(this.rid==this.changeData[i].Change_Request_id){
                // this.cname=this.changeData[i]["First Name"]
                // this.status=this.changeData[i].Status
                // this.createdBy=this.changeData[i]["Created By"]
                // this.createdDate=this.changeData[i]["Created DateTime"]
                // this.changeRequestType=this.changeData[i]["Change Request Name"]
                // this.urid= this.$route.params.id
                // this.ucname=this.changeData[i]["First Name"]
                // this.ustatus=this.changeData[i].Status
                // this.ucreatedBy=this.changeData[i]["Created By"]
                // this.ucreatedDate=this.changeData[i]["Created DateTime"]
                // this.uchangeRequestType=this.changeData[i]["Change Request Name"]
                this.fname=this.changeData[i]["First Name"]
                        this.mname=this.changeData[i]["Middle Name"]
                        this.lname=this.changeData[i]["Last Name"]
                        this.sname=this.changeData[i]["Hold Key"]
                        this.stype=this.changeData[i].Source_Type
                        this.addr1=this.changeData[i]["Address Line 1"]
                        this.addr2=this.changeData[i]["Address Line 2"]
                        this.zip=this.changeData[i]["Zip"]
                        this.tid=this.changeData[i].Change_Request_id
                        this.state=this.changeData[i]["State"]
                        this.city=this.changeData[i]["City"]
                        this.npi=this.changeData[i]["NPI"]
                        this.sd=" "
                        this.slicense=" "
                        this.tname=this.changeData[i]["Territory"]
                        this.ufname=this.fname
                        this.umname=this.mname
                        this.ulname=this.lname
                        this.usname=this.sname
                        this.ustype=this.stype
                        this.uaddr1=this.addr1
                        this.uaddr2=this.addr2
                        this.uzip=this.zip
                        this.utid=this.tid
                        this.ustate=this.state
                        this.ucity=this.city
                        this.unpi=this.npi
                        this.usd=this.sd
                        this.uslicense=this.slicense
                        this.utname=this.tname

                break
            }
        }
    }
}
</script>