<template>
  <q-layout view="lHh Lpr lFf">
    <q-header class=" tw-bg-indigo-700">
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title>
          Data Warehouse
        </q-toolbar-title>

        <div></div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      :width="230"
      class=" tw-bg-white tw-text-gray-800"
    >
    <div class=" tw-bg-indigo-600 tw-text-white tw-h-13 tw-text-lg tw-font-medium tw-text-center tw-pt-3"><router-link to="/">INCENTIUS</router-link></div>
      <q-list>
        <q-item
        clickable
        exact
        class=" hover:tw-text-indigo-600"
        to="/"
      >
              <q-item-section
                avatar
              >
                <q-icon name="analytics" />
              </q-item-section>

              <q-item-section>
                <q-item-label>Analytics</q-item-label>
              </q-item-section>
      </q-item>
          <q-item
        clickable
        exact
        class=" hover:tw-text-indigo-600"
        to="/inputtracking"
      >
              <q-item-section
                avatar
              >
                <q-icon name="input" />
              </q-item-section>

              <q-item-section>
                <q-item-label>Input Tracking</q-item-label>
              </q-item-section>
        </q-item>
        <q-item
        clickable
        exact
        class=" hover:tw-text-indigo-600"
        to="/buckets"
      >
              <q-item-section
                avatar
              >
                <q-icon name="format_color_fill" />
              </q-item-section>

              <q-item-section>
                <q-item-label>Buckets</q-item-label>
              </q-item-section>
        </q-item>
        <q-item
        class=" hover:tw-text-indigo-600 tw-cursor-pointer"
        to="/business/hold"
      >
              <q-item-section
                avatar
              >
                <q-icon name="business_center" />
              </q-item-section>

              <q-item-section>
                <q-item-label @mouseover="sh = true" @mouseleave="sh=false">Business Validation Review
                <q-menu
                  v-model="sh"
                  @mouseover="sh = true" 
                  @mouseleave="sh=false"
                  anchor="top end"
                  self="top left"
                >
                  <q-list style="min-width: 100px">
                    <q-item
                      clickable
                      to="/business/hold"
                      exact
                      v-close-popup
                    >
                            <q-item-section
                              avatar
                            >
                              <q-icon name="front_hand" />
                            </q-item-section>

                            <q-item-section>
                              <q-item-label>Hold</q-item-label>
                            </q-item-section>
                      </q-item>
                    <q-item
                      clickable
                      exact
                      to="/business/hold/archive"
                      v-close-popup
                    >
                            <q-item-section
                              avatar
                            >
                              <q-icon name="archive" />
                            </q-item-section>

                            <q-item-section>
                              <q-item-label>Archived</q-item-label>
                            </q-item-section>
                            
                      </q-item>
                  </q-list>
                </q-menu>
                </q-item-label>
              </q-item-section>
        </q-item>
        <q-item
        clickable
        class=" hover:tw-text-indigo-600"
        to="/filemaster"
      >
              <q-item-section
                avatar
              >
                <q-icon name="source" />
              </q-item-section>

              <q-item-section>
                <q-item-label>File Master</q-item-label>
              </q-item-section>
              
        </q-item>
        <q-item
        clickable
        class=" hover:tw-text-indigo-600"
        to="/mdm"
      >
              <q-item-section
                avatar
              >
                <q-icon name="rate_review" />
              </q-item-section>

              <q-item-section>
                <q-item-label>MDM Review</q-item-label>
              </q-item-section>
              
        </q-item>
        <q-item
        clickable
        class=" hover:tw-text-indigo-600"
        to="/mdmrequest"
      >
              <q-item-section
                avatar
              >
                <q-icon name="published_with_changes" />
              </q-item-section>

              <q-item-section>
                <q-item-label>Change Request</q-item-label>
              </q-item-section>
              
        </q-item>
      </q-list>
    </q-drawer>
    <q-footer bordered class=" tw-bg-white">
        <q-toolbar>
          <q-item>
            <q-item-section>
              <q-item-label><strong class=" tw-text-gray-700">Copyright © 2021 <a href="https://www.incentius.com/" class=" tw-text-blue-500">Incentius</a> All rights reserved.</strong></q-item-label>
            </q-item-section>
          </q-item>
        </q-toolbar>
      </q-footer>
    <q-page-container class=" tw-min-h-screen tw-bg-gray-300">
      <router-view class=" tw-p-4" />
    </q-page-container>
  </q-layout>
</template>

<script>

export default {
  name: 'MainLayout',
  components: {  },
  data () {
    return {
      leftDrawerOpen: false,
      sh:false
    }
  },
}
</script>
